<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head> 
	<meta charset="utf-8">
    <meta http-equiv="Content-Language" content="ko" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	
 	<link rel="manifest" href="/manifest.json">
	<link rel="apple-touch-icon" href="/img/touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/img/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/touch-icon-iphone-retina.png">
	
	<title> :: BINBLUR :: </title>
    <link rel="shortcut icon" href="/img/warehouse1.ico">
    
    <!-- JavaScript : jQuery Library -->
    <script type="text/javascript" src="/vender/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/vender/jqueryui/jquery-ui-1.13.1/jquery-ui.js"></script>
    
	<!-- JavaScript : Bootstrap Library -->
	<script type="text/javascript" src="/vender/bootstrap/bootstrap-4.1.3/js/bootstrap.bundle.js"></script>
	
	<!-- JavaScript : font, icon Library -->
	<script type="text/javascript" src="/vender/fontAwesomeKit/fontAwesome-6.2.js"></script>
	    
    <!-- CSS : bootstrap   -->
    <link rel="stylesheet" href="/vender/bootstrap/bootstrap-4.1.3/css/bootstrap.css">
    
    <!-- CSS : Main 프레임 -->
	<link rel="stylesheet" href="/css/main/1/common.css">
	<link rel="stylesheet" href="/css/main/1/sign.css">
	
</head>

<body>
	<div class="policy-wrap">
		<div class="policy-box">
			<div class="policy-header">
				<h1>약관 및 정책 </h1>
				<span>빈블러 서비스의 이용과 관련하여 필요한 사항을 규정합니다.</span>
			</div>
			<nav>
				<div class="nav nav-tabs policy-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-privacy-tab" data-toggle="tab" href="#nav-privacy" role="tab" aria-controls="nav-privacy" aria-selected="true">개인정보 처리방침</a>
					<a class="nav-item nav-link" id="nav-policy-tab" data-toggle="tab" href="#nav-policy" role="tab" aria-controls="nav-policy" aria-selected="false">이용약관</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-privacy" role="tabpanel" aria-labelledby="nav-privacy-tab"> 
					<!-- 개인정보 처리방침 --> 
					<div class="policy-item">  
주식회사 빈블러(이하 "회사")는 의류 도매업 통합관리솔루션 서비스를 제공하는 회사로 개인정보보호의 중요성에 대해 인식하고 있으며 "정보통신망 이용 촉진 및 정보보호 등에 관한 법률" 및 "개인정보보호 법률" 등 관련 법률과 규정을 준수함과 동시에 다음의 개인정보보호 정책에 따라 적절한 취급 및 보호를 위해 노력합니다. 회사는 개인정보보호 정책을 통하여 고객(이하 사용자)이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
제1조. 개인정보
본 개인정보처리방침에서 "개인정보"는 개인정보 보호법 제 2조 제1항에 따라 정의된 개인정보, 즉 살아 있는 개인에 관한 정보로서 성명, 주민등록번호 등을 통하여 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다. 회사는 개인 정보의 취급에 관한 법령, 국가가 정하는 지침 규범을 준수합니다.
제2조. 개인정보 수집
회사는 홈페이지, 전화, 이메일, 상담 등의 방법으로 수집 및 이용목적에 따라 필요한 최소한의 사용자 정보를 수집하고 이용합니다. 수집하는 개인정보 항목과 수집 및 이용목적은 다음과 같습니다.
개인정보 수집내용
문의(문의 상담 시 수집항목): 이름, 연락처, 이메일, 회사명 등 질문 및 요청의 접수와 답변을 위한 정보들
회원가입과 운영(회원가입시 수집항목): 이름, 연락처, 이메일 외 회사명과 사업자 번호 등 법인을 판별 가능케 하는 정보들
SIMS 시스템(Smart Integrated Management Solution): 사용자 정보(이름, 휴대폰 번호, 회사명 등), 배송지 정보(받는 분 이름, 전화번호, 매장 주소 등), 상품 주문/반품/교환 관련 정보 등
개인정보 수집 방법
개인정보를 수집하는 경우에는 반드시 사전에 사용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.
회원가입 및 서비스 이용 과정에서 사용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우
제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우
웹페이지, 메일, 팩스, 전화 등 영업 응대와 고객센터를 통한 상담 과정에서 인입, 처리한 경우
온·오프라인에서 진행되는 이벤트/행사 등 참여해서 수집, 전달받은 정보
제3조. 개인정보 이용의 목적
회사는 사용자 정보의 아래 이용 목적을 명확하게 파악하고 이용 목적 이외에는 개인정보를 활용하지 않으며 이용목적에 포함되지 않는 개인정보 활용이 이루어지지 않도록 적절한 조치를 취합니다.
계정 및 비밀번호 관리
사용자 등록 메일을 보내기 위해
회사 서비스의 제공을 위해
회사 서비스에 대한 안내, 문의 등에 대한 대응을 위해
회사의 상품, 서비스 등의 안내 및 마케팅 측면을 위해
회사의 서비스에 대한 약관, 정책 등에 위반하는 행위에 대한 대응을 위해
회사 서비스 약관 등의 변경을 알리기 위해
회사 서비스 개선, 새로운 서비스 개발 등을 지원하기 위해
회사 서비스에 관련하여 통계 데이터를 얻기 위해
기타 위 이용 목적에 부수하는 목적
제4조. 개인정보의 보유 및 이용 기간
회사가 제공하는 서비스를 사용자가 이용하는 동안 회사는 사용자의 개인정보를 계속 보유하며 서비스 제공 등을 위해 이용하며, 이용목적이 달성된 때에는 당해 개인정보를 즉시 파기합니다. 다만, 아래 제 6조 사용자의 요구에 의한 (열람, 정정, 삭제 등) 사항에서 설명한 절차와 방법에 따라 사용자 본인이 직접 삭제하거나 수정한 정보, 가입해지를 요청한 경우에는 재생할 수 없는 방법에 따라 디스크나 개인정보가 보관된 데이터상에서 완전히 삭제하며 추후 열람이나 이용할 수 없는 상태로 처리됩니다. 단, 관련 법령의 규정에 따라 보존할 필요가 있는 경우 관계 법령에서 정한 일정 기간 동안 사용자 정보를 보관합니다. 당해 정보는 그 보관의 목적으로만 이용하며 보존 기간은 아래와 같습니다.
서비스 사용자 가입정보
- 사용자 탈퇴 또는 자격 상실: 부정이용 이슈 방지를 위해 탈퇴 혹은 자격상실일 이후 탈퇴 DB에서 6개월 후 삭제하며
- 통신비밀보호법에 근거한 IP 접속 정보의 보관: 3개월
서비스 제공 및 거래기록: 국세기본법에 따른 거래 사실 보존: 5년
서비스 이용 계약에 관한 기록: 전자상거래 등에서의 소비자 보호에 관한 법률에 따른 보존: 5년
대금결제 및 재화 등의 공급에 관한 기록: 전자상거래 등에서의 소비자 보호에 관한 법률에 따른 보존: 5년
소비자의 불만 또는 분쟁 처리에 관한 기록: 전자상거래 등에서의 소비자 보호에 관한 법률에 따른 보존: 3년
제5조. 개인정보의 제3자 제공
회사는 사용자의 동의 없이 개인정보를 제3자에 제공하고 있지 않습니다. 다만 관련 법령에 따라 제공하는 경우는 사용자의 별도 동의 없이 개인정보를 제공할 수 있습니다.
법령의 규정, 수사목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
통계작성, 학술연구, 시장조사 정보제공의 경우로서 특정 개인을 식별할 수 없는 형태로 제공되는 경우
회사가 제공하는 서비스의 사용자와 타인의 권리나 이익 등을 보호하기 위해 회사가 정보공개가 필요하다고 판단하는 경우 
 
제6조. 쿠키(Cookie)에 의한 개인정보 수집
회사는 홈페이지 접속자의 편의를 위하여 '쿠키(Cookie)'를 사용합니다. 쿠키란, 웹사이트가 사용자의 웹브라우저에 보내는 작은 텍스트 파일로서 사용자의 PC에 저장됩니다. 
사용자가 웹사이트 또는 부가정보를 이용할 때 세션을 유지하기 위해 쿠키를 사용합니다.
서비스의 보안 강화를 위하여 쿠키를 사용합니다.
사용자의 접속빈도나 방문시간 등을 분석하여 서비스 개편, 차별화된 정보를 제공하기 위한 분석자료로 이용됩니다.
팝업 정보제공에 대하여 사용자가 '보지 않기'를 요청하였는지를 파악하기 위하여 쿠키를 사용합니다.
사용자는 쿠키 설치에 대한 선택권을 가지고 있으며, 웹브라우저 옵션 설정을 통해 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 또는 모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 사용자가 쿠키 설치를 거부하셨을 경우 서비스 제공에 제한이 있을 수 있습니다.
제7조. 개인정보 관련 기술적 관리적 대책
회사는 사용자의 개인정보를 취급하면서 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 개인정보에 대한 접근 권한을 최소한의 인원으로 제한하고 있으며, 안전성 확보를 위하여 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법 등 관련 법령에 따라 다음과 같은 기술적 대책을 마련하고 있습니다. 회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 안전한 암호 알고리즘 등을 통하여 개인정보의 암호화 저장 및 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다. 그리고 침입 차단 시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 안정성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.
제8조. 면책
만일 회사에 의한 보호 대책에도 불구하고 해커 등에 의한 부당한 행위로 인하여 사용자와 제3자에게 손해가 발생한 경우 회사는 책임지지 않으므로 양해 바랍니다. 또한, 사용자 본인확인을 위한 정보가 분실 또는 제3자에게 알려지지 않도록 엄중한 관리 부탁드립니다. 사용자 자신의 책임으로 인하여 발생한 손해의 경우, 회사는 책임지지 않습니다.
제11조. 개인정보보호 책임자와 담당자
회사는 개인정보에 대한 민원처리를 담당하는 개인정보 보호 책임자와 담당자를 다음과 같이 지정하고 있습니다.
개인정보 관리 책임 담당자
이 름: 송아름
전 화: 02-2232-5129
E-Mail: contact@binblur.com
제9조. 만 19세 미만 아동의 사용자 가입제한
회사는 신용카드 발급이 불가능한 만 19세 미만의 미성년자인 경우 회원가입이 제한됩니다. 단, 법정 대리인의 동의를 구한 경우 회사의 확인 후 회원가입을 할 수 있습니다.
제10조. 정책 변경에 따른 공지 의무
본 개인정보처리방침은 2022년 12월 1일 최초 제정되었으며 정부의 법령ㆍ정책 또는 보안기술의 변경, 기타 사유에 따라 내용의 추가ㆍ삭제ㆍ변경이 발생할 수 있습니다. 이 경우 변경되는 개인정보처리방침 개정 최소 7일 이전에 홈페이지를 통해 변경 이유와 내용을 공지하도록 하겠습니다.
본 약관은 2022년 12월 1일부터 적용됩니다. (가입일자에 따라 적용시점 상이)


						   
						<h3>제 1 장 총칙</h3>
						<h4>제 1 조 (목적 및 정의)</h4>
						<p>㈜빈블러(이하 “회사” 라 함)는 개인정보보호법, 통신비밀보호법, 전기통신사업법, 정보통신망 이용 촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보 처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 본 개인정보 처리방침은 회사가 제공한 웹/모바일웹/앱 서비스에 적용됩니다.</p>
						<h4>제 2 조 (약관의 명시, 효력 및 개정)</h4>
						<p>① 회원가입 및 관리 : 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.</p>
						<p>② 민원사무 처리 : 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.</p>
						<p>③ 재화 또는 서비스 제공 : 서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.</p>
						<p>④ 마케팅 및 광고에의 활용 : 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악 또는 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.</p>
					</div>  

					<div class="policy-item">     
						<h3>제 2 장 회원의 가입 및 관리</h3>
						<h4>제 3 조 (회원가입절차)</h4>
						<p>① 서비스 이용자가 본 약관을 읽고 “동의” 버튼을 누르거나 “확인” 등에 체크하는 방법을 취한 경우 본 약관에 동의한 것으로 간주합니다.</p>
						<p>② 회사의 서비스 이용을 위한 회원가입은 서비스 이용자가 제1항과 같이 동의한 후, 회사가 정한 온라인 회원가입 신청서에 회원 ID를 포함한 필수사항을 입력하고, “보내기” 내지 “확인” 단추를 누르는 방법으로 합니다. 다만, 회사가 필요하다고 인정하는 경우 회원에게 별도의 서류를 제출하도록 할 수 있습니다.
						</p>

						<h4>제 4 조 (회원등록의 성립과 유보 및 거절)
						</h4>
						<p>① 회원등록은 제3조에 정한 절차에 의한 서비스 이용자의 회원가입 신청과 회사의 회원등록 승낙에 의하여 성립합니다. 회사는 회원가입 신청자가 필수사항 등을 성실히 입력하여 가입신청을 완료하였을 때에는 필요한 사항을 확인한 후 지체 없이 이를 승낙을 하여야 합니다. 단 회원가입 신청서 제출 이외에 별도의 자료 제출이 요구되는 경우에는 예외로 합니다.</p>
						<p>② 회사는 아래 각 호의 1에 해당하는 경우에는 회원등록의 승낙을 유보할 수 있습니다.</p>
						<p class="pl-20">1. 제공서비스 설비용량에 현실적인 여유가 없는 경우</p>
						<p class="pl-20">2. 서비스를 제공하기에는 기술적으로 문제가 있다고 판단되는 경우/p>
						<p class="pl-20">3. 기타 회사가 재정적, 기술적으로 필요하다고 인정하는 경우</p>
						<p>③ 회사는 아래 각 호의 1에 해당하는 경우에는 회원등록을 거절할 수 있습니다.</p>
						<p class="pl-20">1. 가입신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하여 가입신청을 하는 경우</p>
						<p class="pl-20">2. 만14세 미만의 아동이 개인정보제공에 대한 동의를 부모 등 법정대리인으로부터 받지 않은 경우</p>
						<p class="pl-20">3. 기타 회사가 관련법령 등을 기준으로 하여 명백하게 사회질서 및 미풍양속에 반할 우려가 있음을 인정하는 경우</p>
						<p class="pl-20">4. 제17조 제2항에 의하여 회사가 계약을 해지했던 회원이 다시 회원 신청을 하는 경우</p>

						<h4>제 5 조 (회원 ID 등의 관리책임)</h4>
						<p>① 회원은 서비스 이용을 위한 회원 ID, 비밀번호의 관리에 대한 책임, 본인 ID의 제3자에 의한 부정사용 등 회원의 고의•과실로 인해 발생하는 모든 불이익에 대한 책임을 부담합니다. 단, 이것이 회사의 고의•과실로 인하여 야기된 경우는 회사가 책임을 부담합니다.</p>
						<p>② 회원은 회원 ID, 비밀번호 및 추가정보 등을 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 본인의 비밀번호를 수정하는 등의 조치를 취하여야 하며 즉시 이를 회사에 통보하여 회사의 안내를 따라야 합니다.</p>
					
						<h4>제 6 조 (개인정보의 수집 등)</h4>
					
						<p>회사는 서비스를 제공하기 위하여 관련 법령의 규정에 따라 회원으로부터 필요한 개인정보를 수집합니다.</p>

						<h4>제 7 조 (회원정보의 변경)</h4>
						<p>① 회원은 서비스 설정화면에서 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 아이디(ID) 등은 수정이 불가능합니다.</p>
						<p>② 회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 등 기타 방법으로 회사에 대하여 그 변경사항을 알려야 합니다.</p>
						<p>③ 제 2 항의 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다.</p>
					
					</div>  
					<div class="policy-item">     
						<h3>제 3 장 서비스의 이용</h3>
						<h4>제 8 조 (서비스 범위 및 이용)</h4>
						<p>회사는 이용자에게 아래와 같은 서비스를 제공합니다.</p>
						<p>① 회사는 SNS, 게시판 서비스, 온라인 콘텐츠 제공 서비스, 위치기반서비스 등 여러분이 인터넷과 모바일로 즐길 수 있는 다양한 서비스를 제공합니다. 여러분은 스마트폰의 어플리케이션 스토어 등에서 서비스를 다운받아 설치하거나 직접 PC에 설치 혹은 웹페이지에 접속하여 서비스를 이용할 수 있습니다. 그런데 회사는 여러분이 원하는 다양한 서비스를 시시각각 제공하기 때문에 서비스의 자세한 내용은 별도로 알려드릴 수밖에 없습니다. 이러한 회사의 사정을 이해하여 주시길 바라며, 회사도 개별적인 서비스 이용방법을 어플리케이션 스토어와 각 서비스의 Q&A 센터, 해당 안내 및 고지사항에서 더 상세하게 안내하고 있으니 언제든지 확인하여 주시기 바랍니다.</p>
						<p>② 회사는 여러분이 서비스를 마음껏 이용할 수 있도록 이에 필요한 소프트웨어의 개인적이고 전 세계적이며 양도불가능하고 비독점적인 무상의 라이선스를 여러분에게 제공합니다. 단, 회사가 여러분에게 회사의 상표 및 로고를 사용할 권리를 부여하는 것은 아니라는 점은 잊지 말아주시기 바랍니다.</p>
						<p>③ 회사는 더 나은 서비스를 위하여 서비스에 필요한 소프트웨어의 업데이트 버전을 제공할 수 있습니다. 소프트웨어의 업데이트에는 중요한 기능의 추가 또는 불필요한 기능의 제거 등이 포함되어 있습니다. 여러분들도 서비스를 즐겁게 이용할 수 있도록 꾸준히 업데이트를 하여 주시기 바랍니다.</p>
						<p>④ 회사는 더 나은 서비스의 제공을 위하여 여러분에게 서비스의 이용과 관련된 각종 고지, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 서비스에 표시하거나 여러분의 메일 계정으로 직접 발송할 수 있습니다.</p>
						<p>⑤ 서비스 이용 중 시스템 오류 등 문제점을 발견하신다면 언제든지 카카오 고객 센터로 알려주시기 바랍니다.</p>
						<p>⑥ 여러분이 서비스를 이용하는 과정에서 Wi-Fi 무선인터넷을 사용하지 않고, 가입하신 이동통신사의 무선인터넷에 연결하여 이용하는 경우 이동통신사로부터 여러분에게 별도의 데이터 통신요금이 부과되는 점을 유의하여 주시기 바랍니다. 서비스 이용 과정에서 발생하는 데이터 통신요금은 여러분이 여러분의 비용과 책임 하에 이동통신사에 납부하셔야 합니다. 데이터 통신요금에 대한 자세한 안내는 여러분이 가입하신 이동통신사에 문의하시기 바랍니다.</p>
					</div>  
					<!-- 개인정보 처리방침 end  -->
				 </div>
				
				<div class="tab-pane fade" id="nav-policy" role="tabpanel" aria-labelledby="nav-policy-tab">
					<!-- 이용약관 --> 
			 
					<div class="policy-item">     
						<h3>제 1 장 총칙</h3>
						<h4>제 1 조 (목적 및 정의)</h4>
						<p>㈜빈블러(이하 “회사” 라 함)는 개인정보보호법, 통신비밀보호법, 전기통신사업법, 정보통신망 이용 촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보 처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 본 개인정보 처리방침은 회사가 제공한 웹/모바일웹/앱 서비스에 적용됩니다.</p>
						<h4>제 2 조 (약관의 명시, 효력 및 개정)</h4>
						<p>① 회원가입 및 관리 : 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.</p>
						<p>② 민원사무 처리 : 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.</p>
						<p>③ 재화 또는 서비스 제공 : 서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.</p>
						<p>④ 마케팅 및 광고에의 활용 : 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악 또는 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.</p>
					</div>  

					<div class="policy-item">     
						<h3>제 2 장 회원의 가입 및 관리</h3>
						<h4>제 3 조 (회원가입절차)</h4>
						<p>① 회원등록은 제3조에 정한 절차에 의한 서비스 이용자의 회원가입 신청과 회사의 회원등록 승낙에 의하여 성립합니다. 회사는 회원가입 신청자가 필수사항 등을 성실히 입력하여 가입신청을 완료하였을 때에는 필요한 사항을 확인한 후 지체 없이 이를 승낙을 하여야 합니다. 단 회원가입 신청서 제출 이외에 별도의 자료 제출이 요구되는 경우에는 예외로 합니다.</p>
						<p>② 회사는 아래 각 호의 1에 해당하는 경우에는 회원등록의 승낙을 유보할 수 있습니다.</p>
						<p class="pl-20">1. 제공서비스 설비용량에 현실적인 여유가 없는 경우</p>
						<p class="pl-20">2. 서비스를 제공하기에는 기술적으로 문제가 있다고 판단되는 경우</p>
						<p class="pl-20">3. 기타 회사가 재정적, 기술적으로 필요하다고 인정하는 경우</p>
						<p>③ 회사는 아래 각 호의 1에 해당하는 경우에는 회원등록을 거절할 수 있습니다.</p>
						<p class="pl-20">1. 가입신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하여 가입신청을 하는 경우</p>
						<p class="pl-20">2. 만14세 미만의 아동이 개인정보제공에 대한 동의를 부모 등 법정대리인으로부터 받지 않은 경우</p>
						<p class="pl-20">3. 기타 회사가 관련법령 등을 기준으로 하여 명백하게 사회질서 및 미풍양속에 반할 우려가 있음을 인정하는 경우</p>
						<p class="pl-20">4. 제17조 제2항에 의하여 회사가 계약을 해지했던 회원이 다시 회원 신청을 하는 경우</p>

						<h4>제 6 조 (개인정보의 수집 등)</h4>
					
						<p>회사는 서비스를 제공하기 위하여 관련 법령의 규정에 따라 회원으로부터 필요한 개인정보를 수집합니다.</p>
					
						<h4>제 7 조 (회원정보의 변경)</h4>
					
						<p>① 회원은 서비스 설정화면에서 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 아이디(ID) 등은 수정이 불가능합니다.</p>
						<p>② 회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 전자우편 등 기타 방법으로 회사에 대하여 그 변경사항을 알려야 합니다.</p>
						<p>③ 제 2 항의 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다.</p>
					
					</div>  
					<div class="policy-item">     
						<h3>제 3 장 서비스의 이용</h3>
						<h4>제 8 조 (서비스 범위 및 이용)</h4>
						<p>회사는 이용자에게 아래와 같은 서비스를 제공합니다.</p>
						<p>① 회사는 SNS, 게시판 서비스, 온라인 콘텐츠 제공 서비스, 위치기반서비스 등 여러분이 인터넷과 모바일로 즐길 수 있는 다양한 서비스를 제공합니다. 여러분은 스마트폰의 어플리케이션 스토어 등에서 서비스를 다운받아 설치하거나 직접 PC에 설치 혹은 웹페이지에 접속하여 서비스를 이용할 수 있습니다. 그런데 회사는 여러분이 원하는 다양한 서비스를 시시각각 제공하기 때문에 서비스의 자세한 내용은 별도로 알려드릴 수밖에 없습니다. 이러한 회사의 사정을 이해하여 주시길 바라며, 회사도 개별적인 서비스 이용방법을 어플리케이션 스토어와 각 서비스의 Q&A 센터, 해당 안내 및 고지사항에서 더 상세하게 안내하고 있으니 언제든지 확인하여 주시기 바랍니다.</p>
						<p>② 회사는 여러분이 서비스를 마음껏 이용할 수 있도록 이에 필요한 소프트웨어의 개인적이고 전 세계적이며 양도불가능하고 비독점적인 무상의 라이선스를 여러분에게 제공합니다. 단, 회사가 여러분에게 회사의 상표 및 로고를 사용할 권리를 부여하는 것은 아니라는 점은 잊지 말아주시기 바랍니다.</p>
						<p>③ 회사는 더 나은 서비스를 위하여 서비스에 필요한 소프트웨어의 업데이트 버전을 제공할 수 있습니다. 소프트웨어의 업데이트에는 중요한 기능의 추가 또는 불필요한 기능의 제거 등이 포함되어 있습니다. 여러분들도 서비스를 즐겁게 이용할 수 있도록 꾸준히 업데이트를 하여 주시기 바랍니다.</p>
						<p>④ 회사는 더 나은 서비스의 제공을 위하여 여러분에게 서비스의 이용과 관련된 각종 고지, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 서비스에 표시하거나 여러분의 메일 계정으로 직접 발송할 수 있습니다.</p>
						<p>⑤ 서비스 이용 중 시스템 오류 등 문제점을 발견하신다면 언제든지 카카오 고객 센터로 알려주시기 바랍니다.</p>
						<p>⑥ 여러분이 서비스를 이용하는 과정에서 Wi-Fi 무선인터넷을 사용하지 않고, 가입하신 이동통신사의 무선인터넷에 연결하여 이용하는 경우 이동통신사로부터 여러분에게 별도의 데이터 통신요금이 부과되는 점을 유의하여 주시기 바랍니다. 서비스 이용 과정에서 발생하는 데이터 통신요금은 여러분이 여러분의 비용과 책임 하에 이동통신사에 납부하셔야 합니다. 데이터 통신요금에 대한 자세한 안내는 여러분이 가입하신 이동통신사에 문의하시기 바랍니다.</p>
					</div>  
					<!-- 이용약관 end  -->
			 	</div>
			</div>	
		</div>
	</div>
</body>
  
</html>