<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent" class="tab-content">
	<div class="tab-inner">
		<div class="content-header">
			<div class="header-left">
				<div class="page-title">
					<h1 th:text="${gnatitle}"></h1>
				</div>
			</div>
			<div class="header-right">
	  			<button type="button" class="btn default-btn" id="mdp1_save"   th:if="${userRole.getPosactv() == 'Y'}"><i class="fa-regular fa-circle-check"></i><span>[[#{bt.save}]]</span></button>
		  		<button type="button" class="btn default-btn" id="mdp1_search" th:if="${userRole.getGetactv() == 'Y'}"><i class="fa-solid fa-magnifying-glass"></i><span>[[#{bt.search}]]</span></button>
				<button type="button" class="btn main-btn"><i class="fa-solid fa-print"></i></button>	
				<button type="button" th:class="'btn bookmark-btn '+ ${session.bookmark.get(gprogrid)=='Y' ? 'active' : ' '}" th:pprogrid="${gprogrid}" onclick="bookmarkclick(this);"><i class="fa-solid fa-star"></i></button>
	  		</div>
		</div>
		<div class="search-wrap main-search-wrap">
			<div class="search-form">
				<div class="form-group row col">
					<label for="mdp1_ownerky" class="col-md-5 col-xl-2 col-form-label">[[#{md.mowrma.ownerky}]]</label> 
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('md.mowrma.ownerky')}" id="mdp1_ownerky"/>
					</div>
					<label for="mdp1_ownamlc" class="col-md-5 col-xl-2 col-form-label">[[#{md.mowrma.ownamlc}]]</label> 
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('md.mowrma.ownamlc')}" id="mdp1_ownamlc"> 
					</div>
				</div>
			</div>
		</div>
		<div class="content-inner">
		 	<div class="grid-item grid-1">
		 		<div class="grid-container">
		 			<div id="mdp1_grid"></div>
		 		</div>
		 	</div>
		 </div>
	</div>
		
<script>
$(function(){
	//============================================================	
	//검색 화면 이벤트
	//============================================================
	$('#mdp1_search').click(function(){
		mdp1List();
	});
	
	$('#mdp1_save').click(function(){
		var grid = pq.grid("#mdp1_grid"), gridCheck = grid.Checkbox('state').getCheckedNodes();
		var gridChange = grid.getChanges({all:true});
		
		if(gridCheck.length > 0){
			//============================================================	 
	    	//체크 데이터 중 필수 값 체크
	    	//============================================================
			for(i=0; i< gridCheck.length; i++){
	    	  	if(!gridCheck[i].ownerky){
					alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
					grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "ownerky" } );
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].ownamlc){
	    	  		alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
					grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "ownamlc" } );
	    	  		return false;
	    	  	}
			}
			//============================================================	 
	    	//체크된 데이터 충복 체크
	    	//============================================================
	        for(i=0; i<gridCheck.length; i++){
				for(j=0; j < grid.getData().length; j++){
					if(gridCheck[i].pq_ri != grid.getData()[j].pq_ri){
						if(gridCheck[i].ownerky === grid.getData()[j].ownerky){
			      			alert((grid.getData()[j].pq_ri + 1) + "[[#{ms.rowDataDuplication}]]");	
							return false;
						}
					}
				}
			}
			
	      //updateList 체크 데이터 정제
			for(z=0; z<gridChange.updateList.length; z++){
				if(gridChange.updateList[z].state != true){
					gridChange.updateList.splice(z, 1);
					gridChange.oldList.splice(z, 1);
				}
			}
			
			//addList 체크 데이터 정제
			for(x=0; x<gridChange.addList.length; x++){
				if(gridChange.addList[x].state != true){
					gridChange.addList.splice(x, 1);
				}
			}
			
			var result = confirm("[[#{ms.checksave}]]");
			if(result == true){
				var data = { data : gridChange, ownerky : $('#mdp1_ownerky').val(), ownamlc : $('#mdp1_ownamlc').val() };
				grid.showLoading();
				var aul = new AjaxUtil_Order("/md/mdp1Save.do", data);
				aul.setCallbackSuccess(function(data){
					grid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
			   		grid.refreshDataAndView();
			        alert("[[#{ms.saveSuccess}]]");
				});
				aul.setComplete(function(data){
					grid.hideLoading();
				})
				aul.send();
			}
		}else{
			alert("[[#{ms.choiceRowZero}]]");
		}
	});

	var mdp1_gridCM = [
		{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
            type: 'checkbox', cls: 'ui-state-default', sortable: false, editor: false,
             cb: { all: false, header: true }
     	},
     	{ title: "rowkey", dataType: "string", dataIndx: "rowkey", editable: false, hidden: true },
		{ title: "[[#{md.mowrma.compkey}]]", dataType: "string", dataIndx: "compkey", editable: false, hidden: true},
		{ title: "[[#{md.mowrma.ownerky}]]", dataType: "string", dataIndx: "ownerky",		//화주
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			render: function (ui) {
    			if(ui.cellData){
    				ui.rowData.ownerky = ui.cellData.toUpperCase();
    			}
            },
			validations: [{ type: 'minLen', value: 1, msg: "[[#{ms.validations.minLenLength(1)}]]" },{ type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mowrma.owdelyn}]]", dataType: "string", dataIndx: "owdelyn",		//Owner Deletion YN
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox', editor: false,
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			}
		},
		{ title: "[[#{md.mowrma.ownatcd}]]", dataType: "string", dataIndx: "ownatcd",		//Owner 국가코드
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 2, msg: "[[#{ms.validations.maxLenLength(2)}]]" }]
		},
		{ title: "[[#{md.mowrma.ownamlc}]]", dataType: "string", dataIndx: "ownamlc",		//Owner Name Local
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mowrma.ownamko}]]", dataType: "string", dataIndx: "ownamko",		//Owner Name KO
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]	
		},
		{ title: "[[#{md.mowrma.ownamen}]]", dataType: "string", dataIndx: "ownamen",		//Owner Name EN
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mowrma.owaddr1}]]", dataType: "string", dataIndx: "owaddr1",		//주소01
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]	
		},
		{ title: "[[#{md.mowrma.owaddr2}]]", dataType: "string", dataIndx: "owaddr2",		//주소02
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]	
		},
		{ title: "[[#{md.mowrma.owaddr3}]]", dataType: "string", dataIndx: "owaddr3",		//주소03
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]		
		},
		{ title: "[[#{md.mowrma.owciynm}]]", dataType: "string", dataIndx: "owciynm", hidden : true,	//*City
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mowrma.owregnm}]]", dataType: "string", dataIndx: "owregnm", hidden : true,	//*Region
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mowrma.owteln1}]]", dataType: "string", dataIndx: "owteln1", 		//Telephone number1
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0, warn: true } , { type: 'maxLen', value: 3, msg: "length should be <= 3" }]		 
		},
		{ title: "[[#{md.mowrma.owteln2}]]", dataType: "string", dataIndx: "owteln2", 		//Telephone number2
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0, warn: true } , { type: 'maxLen', value: 4, msg: "length should be <= 4" }]		  
		},
		{ title: "[[#{md.mowrma.owteln3}]]", dataType: "string", dataIndx: "owteln3", 		//Telephone number3
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0, warn: true } , { type: 'maxLen', value: 4, msg: "length should be <= 4" }]		 
		},
		{ title: "[[#{md.mowrma.owtaxcd}]]", dataType: "string", dataIndx: "owtaxcd", hidden : true,	//*Tax Code
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mowrma.owposbx}]]", dataType: "string", dataIndx: "owposbx", hidden : true,	//*PO Box
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mowrma.owposcd}]]", dataType: "string", dataIndx: "owposcd", hidden : true,	//*Postal Code
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mowrma.owrepnm}]]", dataType: "string", dataIndx: "owrepnm", 		//대표자 Name
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]	 
		},
		{ title: "[[#{md.mowrma.owreptl}]]", dataType: "string", dataIndx: "owreptl", 		//대표자 Telephone number
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]			 
		},
		{ title: "[[#{md.mowrma.owrepem}]]", dataType: "string", dataIndx: "owrepem", 		//대표자 email
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mowrma.owmannm}]]", dataType: "string", dataIndx: "owmannm", 		//담당자 이름
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]	 
		},
		{ title: "[[#{md.mowrma.owmantl}]]", dataType: "string", dataIndx: "owmantl", 		//담당자 연락처1
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]		 
		},
		{ title: "[[#{md.mowrma.owmanem}]]", dataType: "string", dataIndx: "owmanem", 		//담당자 email
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mowrma.owblctc}]]", dataType: "string", dataIndx: "owblctc", 		//*BL OwnerCostCenter
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]	 
		},
		{ title: "[[#{md.mowrma.credate}]]", dataType: "string", dataIndx: "credate" , editable:false },
		{ title: "[[#{md.mowrma.cretime}]]", dataType: "string", dataIndx: "cretime" , editable:false },
		{ title: "[[#{md.mowrma.creuser}]]", dataType: "string", dataIndx: "creuser" , editable:false },
		{ title: "[[#{md.mowrma.lmodate}]]", dataType: "string", dataIndx: "lmodate" , editable:false },
		{ title: "[[#{md.mowrma.lmotime}]]", dataType: "string", dataIndx: "lmotime" , editable:false },
		{ title: "[[#{md.mowrma.lmouser}]]", dataType: "string", dataIndx: "lmouser" , editable:false }
	];
	
	var mdp1_grid = new GridUtil(mdp1_gridCM, '[[${gprogrid}]]', 'mdp1_grid');
	
	mdp1_grid.setFind();
	mdp1_grid.setReset();
	
	mdp1_grid.setAdd(function(evt, ui){
		var rowData = { state : true, compkey : "[[${session.compkey}]]" , owdelyn : "N" };
		var rowIndx = this.addRow({ rowData : rowData, checkEditable : false });
		this.goToPage({ rowIndx : rowIndx });
		this.editCell({ rowIndx : rowIndx , dataIndx : "ownerky"});
	});
	
	mdp1_grid.setChange(function (evt, ui) {
    	if(ui.source === 'edit'){
    		for(i=0; i<ui.updateList.length; i++){
    			this.updateRow( {
        			rowIndx : ui.updateList[i].rowIndx,
        		    newRow : { state : true },
        		    checkEditable: false
        		});		
    		}
    	}else if(ui.source === 'paste'){
    		for(i=0; i<ui.updateList.length; i++){
    			var newRow = {state : true};
    			if(ui.updateList[i].newRow.hasOwnProperty('ownerky') && ui.updateList[i].oldRow.hasOwnProperty('ownerky')){
    				newRow.ownerky = ui.updateList[i].newRow.ownerky.toUpperCase();
    			}
    			this.updateRow( {
        			rowIndx : ui.updateList[i].rowIndx,
        		    newRow : newRow,
        		    checkEditable: false
        		});
    		}
    		for(i=0; i<ui.addList.length; i++){
    			ui.addList[i].newRow.state = true;
    			ui.addList[i].newRow.compkey = "[[${session.compkey}]]";
    			ui.addList[i].newRow.owdelyn = ui.addList[i].newRow.owdelyn ? ui.addList[i].newRow.owdelyn : "N";
    		}
    	}else if(ui.source === 'checkbox'){
    		for(i=0; i<ui.updateList.length; i++){
    			if(ui.updateList[i].newRow.hasOwnProperty('owdelyn')){
    				this.updateRow( {
            			rowIndx : ui.updateList[i].rowIndx,
            		    newRow : { state : true },
            		    checkEditable: false
            		});
    			}
    		}
    	}
	});

	mdp1_grid.open();
	mdp1List();
	
	function mdp1List(){
		var grid = pq.grid("#mdp1_grid");
		grid.showLoading();
		var data = { ownerky : $('#mdp1_ownerky').val(), ownamlc : $('#mdp1_ownamlc').val() };
		var aul = new AjaxUtil_Order('/md/mdp1Select.do', data, "GET");
		aul.setCallbackSuccess(function(data){
			if(data.list.length == 0){
				alert("[[ms.getDataZero]]");
			}
			grid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
			grid.refreshDataAndView();
		});
		aul.setComplete(function(data){
			grid.hideLoading();
		})
		aul.send();
	}
});
	
</script>

</div>
</html>