<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent" class="tab-content">
	<div class="tab-inner">
		<div class="content-header">
			<div class="header-left">
				<div class="page-title">
					<h1 th:text="${gnatitle}"></h1>
				</div>
			</div>
			<div class="header-right">
				<button type="button" class="btn default-btn" id="mdp3_save"   th:if="${userRole.getGetactv() == 'Y'}"><i class="fa-regular fa-circle-check"></i><span>[[#{bt.save}]]</span></button>
				<button type="button" class="btn default-btn" id="mdp3_search" th:if="${userRole.getPosactv() == 'Y'}"><i class="fa-solid fa-magnifying-glass"></i><span>[[#{bt.search}]]</span></button>
				<button type="button" class="btn main-btn"><i class="fa-solid fa-print"></i></button>
				<button type="button" th:class="'btn bookmark-btn '+ ${session.bookmark.get(gprogrid)=='Y' ? 'active' : ' '}" th:pprogrid="${gprogrid}" onclick="bookmarkclick(this);"><i class="fa-solid fa-star"></i></button>
			</div>
		</div>
		<div class="search-wrap main-search-wrap">
			<div class="search-form">
				<div class="form-group row col">
					<label for="mdp3_ownerky" class="col-md-5 col-xl-2 col-form-label">[[#{md.mcusma.ownerky}]]</label>
					<div class="col-md-7 col-xl-4">
						<select class="custom-select" id="mdp3_ownerky" th:switch="${session.usertyp}">
							<option value="" th:case="BINBLUR"></option>
						</select>
					</div>
					<label for="mdp3_custkey" class="col-md-5 col-xl-2 col-form-label">[[#{md.mcusma.custkey}]]</label>
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('md.mcusma.custkey')}" id="mdp3_custkey" />
					</div>
				</div>
				<div class="form-group row col">
					<label for="mdp3_custtyp" class="col-md-5 col-xl-2 col-form-label">[[#{md.mcusma.custtyp}]]</label> 
					<div class="col-md-7 col-xl-4">
						<select class="custom-select" id="mdp3_custtyp">
						</select>
					</div>
					<label for="mdp3_cunamlc" class="col-md-5 col-xl-2 col-form-label">[[#{md.mcusma.cunamlc}]]</label> 
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('md.mcusma.cunamlc')}" id="mdp3_cunamlc" />
					</div>
				</div>
			</div>
			<div class="btn-fold-wrap">
				<button class="btn-fold" onclick="onSearchExpand(this)"><i class="fa-solid fa-angle-down"></i></button>
			</div>
		</div>
		<div class="content-inner">
			<div class="grid-item grid-1">
				<div class="grid-container">
					<div id="mdp3_grid"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="mdp3_map" style="width: 100%; font-size: 12px;" ></div>
	
	<div class="modal fade" id="receiptMdp3ModalLayerPopup" tabindex="-1">
		<div class="modal-dialog modal-330">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" id="mdp3ReceiptPrint" class="btn btn-primary">인쇄</button>
				</div>
				<div class="modal-body">
					<div class="wmpt6-wrap">
						<div class="wmpt6-roll">
							<div class="wmpt6-invonam"><span>영수증</span></div>
							<div class="wmpt6-invrtyn"><span name="mdp3_receipt_cunamlc"></span></div>
							<div class="wmpt6-invnoyn wmpt6-prtdtyn wmpt6-prttmyn">
								<span>0000</span>
								<span>9999-01-01(금)</span>
								<span>00:00:00</span>
							</div>
							<div class="wmpt6-aline01"><span>========================================================</span></div>
							<div class="wmpt6-whoqryn">SAMPLE
							</div>
							<div class="wmpt6-issnmyn">
								<span name="mdp3_receipt_cunamen"></span><span name="mdp3_receipt_cunamko"></span>
							</div>
							<div class="wmpt6-issadyn">
								
							</div>
							<div class="wmpt6-isctlyn"></div>
							<div class="wmpt6-ismtlyn">
								<span name="mdp3_receipt_cuaddr3"></span>
							</div>
							<div class="wmpt6-istanyn">
								<span name="mdp3_receipt_invhead"></span>
							</div>
							<div class="wmpt6-aline02"><span>========================================================</span></div>
							<div class="wmpt6-ordifyn"><span>9999-01-01(금)</span><span>10,000</span><span>샘플</span></div>
							<div class="wmpt6-aline03"><span>========================================================</span></div>
							<div class="wmpt6-title"><span>품명</span><span>단가</span><span>수량</span><span>금액</span></div>
							<div class="wmpt6-line">
								<span>----------------------------</span>
								<span>----------------</span>
								<span>------------------</span><span>-----------------</span>
							</div>
							<div class="wmpt6-it1ltyn">
								<span>샘플상품1</span>
								<span>1,000</span>
								<span>1</span>
								<span>1,000</span>
							</div>
							<div class="wmpt6-it1ltyn">
								<span>샘플상품2</span>
								<span>2,000</span>
								<span>2</span>
								<span>4,000</span>
							</div>
							<div class="wmpt6-it1stnm">
								<span>-- 판매소계 --</span>
								<span>2건</span>
								<span>3</span><span>5,000</span>
							</div>
							
							<div class="wmpt6-aline04">
								<span>________________________________________________________________________________</span>
							</div>
							<div class="wmpt6-aline08">
								<span>========================================================</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
$(function(){
	var mdp3_init = mdp3Init();
	//============================================================	
	//검색 화면 이벤트
	//============================================================
	$('#mdp3_search').click(function(){
		mdp3List();
	});
	
	$('#mdp3_save').click(function(){
		var grid = pq.grid("#mdp3_grid"), gridCheck = grid.Checkbox('state').getCheckedNodes();
		var gridChange = grid.getChanges({all:true});

		if(gridCheck.length > 0 ){
			//============================================================	 
	    	//체크 데이터 중 필수 값 체크
	    	//============================================================
	        for(i=0; i< gridCheck.length; i++){
	    	  	if(!gridCheck[i].custkey){
					alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
					grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "custkey" } );
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].ownerky){
	    	  		alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
					grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "ownerky" } );
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].custtyp){
	    	  		alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
					grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "custtyp" } );
	    	  		return false;
	    	  	}
				if(!gridCheck[i].cunamlc){
	    	  		alert((gridCheck[i].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
	    	  		grid.editCell( { rowIndx: gridCheck[i].pq_ri, dataIndx: "cunamlc" } );
	    	  		return false;
				}
	    	}
			
	      	//============================================================	 
	    	//체크된 데이터 충복 체크
	    	//============================================================
	        for(i=0; i<gridCheck.length; i++){
				for(j=0; j < grid.getData().length; j++){
					if(gridCheck[i].pq_ri != grid.getData()[j].pq_ri){
						if(gridCheck[i].custkey === grid.getData()[j].custkey){
			      			alert((grid.getData()[j].pq_ri + 1) + "[[#{ms.rowDataDuplication}]]");	
							return false;
						}
					}
				}
			}
			
	      	//updateList 체크 데이터 정제
			for(z=0; z<gridChange.updateList.length; z++){
				if(gridChange.updateList[z].state != true){
					gridChange.updateList.splice(z, 1);
					gridChange.oldList.splice(z, 1);
				}
			}
			
			//addList 체크 데이터 정제
			for(x=0; x<gridChange.addList.length; x++){
				if(gridChange.addList[x].state != true){
					gridChange.addList.splice(x, 1);
				}
			}
			
			var result = confirm("[[#{ms.checksave}]]");
			if(result == true){
				var data = { 
					data : gridChange,
					ownerky : $('#mdp3_ownerky option:selected').val(),
					custkey : $('#mdp3_custkey').val(), 
					custtyp : $('#mdp3_custtyp option:selected').val(), 
					cunamlc : $('#mdp3_cunamlc').val()
				};
				
				grid.showLoading();
				var aul = new AjaxUtil_Order("/md/mdp3Save.do", data);
				aul.setCallbackSuccess(function(data){
					grid.hideLoading();
					grid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
			   		grid.refreshDataAndView();
			        alert("[[#{ms.saveSuccess}]]");
				});
				
				aul.setComplete(function(data){
					grid.hideLoading();
				});
				
				aul.send();
			}
		}else{
			alert("[[#{ms.choiceRowZero}]]");
		}
	});
	
	var mdp3_colModel = [
		{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
            type: 'checkbox', cls: 'ui-state-default', sortable: false, editor: false,
             cb: { all: false, header: true }
     	},
        { title: "rowkey", dataType: "string", dataIndx: "rowkey", hidden: true, editable: false },
		{ title: "[[#{md.mcusma.compkey}]]", dataType: "string", dataIndx: "compkey", hidden: true , editable: false },
		{ title: "[[#{md.mcusma.custkey}]]", dataType: "string", dataIndx: "custkey" ,	//Customer Key
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
        	render: function (ui) {
    			if(ui.cellData){
    				ui.rowData.custkey = ui.cellData.toUpperCase();
    				attr : { edit : false }
    			}
            },
            editable: function (ui) {
				return editable = (ui.rowData.rowkey) ? false : true;
    		},
            validations: [{ type: 'minLen', value: 1, msg: "[[#{ms.validations.minLenLength(1)}]]" },{ type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]	 
		},
		{ title: "[[#{md.mowrma.ownerky}]]", dataType: "string", dataIndx: "ownerky" ,		//Owner key
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
                type: "select",
                init: function (ui) {
	                ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
	                setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
				},
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
		},
		{ title: "[[#{md.mcusma.cudelyn}]]", dataType: "string", dataIndx: "cudelyn" , 		//Deletion YN
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.cunatcd}]]", dataType: "string", dataIndx: "cunatcd", hidden:true, 	//Customer 국가코드
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 2, msg: "[[#{ms.validations.maxLenLength(2)}]]" }]
		},
		{ title: "[[#{md.mcusma.custpky}]]", dataType: "string", dataIndx: "custpky" ,		//Sold to party
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	  	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.custtyp}]]", dataType: "string", dataIndx: "custtyp" , 		//Customer Type
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
                type: "select",
                init: function (ui) {
	                ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
	                setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
				},
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
		},
		{ title: "[[#{md.mcusma.cunamlc}]]", dataType: "string", dataIndx: "cunamlc" ,		//Customer Name Local
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mcusma.cunamko}]]", dataType: "string", dataIndx: "cunamko" , 		//Customer Name KO
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]	 	
		},
		{ title: "[[#{md.mcusma.cunamen}]]", dataType: "string", dataIndx: "cunamen" , 		//Customer Name EN
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]	 
		},
		{ title: "[[#{md.mcusma.cuaddr1}]]", dataType: "string", dataIndx: "cuaddr1" , 		//주소01
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuaddr2}]]", dataType: "string", dataIndx: "cuaddr2" , 		//주소02
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuaddr3}]]", dataType: "string", dataIndx: "cuaddr3" , 		//상가명_매장_층_호수
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuciynm}]]", dataType: "string", dataIndx: "cuciynm" , hidden:true,		//*도시
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.curegnm}]]", dataType: "string", dataIndx: "curegnm" , hidden:true,		//*지역
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuteln1}]]", dataType: "string", dataIndx: "cuteln1" , 		//Telephone number1
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuteln2}]]", dataType: "string", dataIndx: "cuteln2" , 		//Telephone number2
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuteln3}]]", dataType: "string", dataIndx: "cuteln3" , 		//Telephone number3
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cutaxcd}]]", dataType: "string", dataIndx: "cutaxcd" , hidden:true,		//*Tax Code
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuposbx}]]", dataType: "string", dataIndx: "cuposbx" , hidden:true,		//*PO Box
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuposcd}]]", dataType: "string", dataIndx: "cuposcd" , hidden:true,		//*Postal Code 
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mcusma.curepnm}]]", dataType: "string", dataIndx: "curepnm" , 		//대표자 Name
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mcusma.cureptl}]]", dataType: "string", dataIndx: "cureptl" ,		//대표자 Telephone number 
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.curepem}]]", dataType: "string", dataIndx: "curepem" , 		//대표자 email
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mcusma.cumannm}]]", dataType: "string", dataIndx: "cumannm" , 		//담당자 이름
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mcusma.cumantl}]]", dataType: "string", dataIndx: "cumantl" , 		//담당자 연락처1
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cumanem}]]", dataType: "string", dataIndx: "cumanem" , 		//담당자 email
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 60, msg: "[[#{ms.validations.maxLenLength(60)}]]" }]
		},
		{ title: "[[#{md.mcusma.cusgro1}]]", dataType: "string", dataIndx: "cusgro1" , 		//Customer 그룹1
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
                type: "select",
                init: function (ui) {
	                ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
	                setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
				},
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
		},
// 		{ title: "[[#{md.mcusma.cusgro2}]]", dataType: "string", dataIndx: "cusgro2" , 		//Customer 그룹2
// 			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
// 			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
// 		},
		{ title: "[[#{md.mcusma.cusgro3}]]", dataType: "string", dataIndx: "cusgro3" , 		//Customer 그룹3
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mcusma.poststm}]]", dataType: "string", dataIndx: "poststm",		//영업일자 변경시간
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 8, msg: "[[#{ms.validations.maxLenLength(4)}]]" }]
		},
		{ title: "[[#{md.mcusma.sundavl}]]", dataType: "string", dataIndx: "sundavl",		//일
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.mondavl}]]", dataType: "string", dataIndx: "mondavl",		//월
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.tuedavl}]]", dataType: "string", dataIndx: "tuedavl",		//화
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.weddavl}]]", dataType: "string", dataIndx: "weddavl",		//수
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.thudavl}]]", dataType: "string", dataIndx: "thudavl",		//목
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.fridavl}]]", dataType: "string", dataIndx: "fridavl",		//금
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.satdavl}]]", dataType: "string", dataIndx: "satdavl",		//토
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.nathavl}]]", dataType: "string", dataIndx: "nathavl",		//국경일
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type: 'checkbox',
			cb: { all: false, header: true, check: "Y", uncheck: "N" },
			render: function (ui) {                            
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			},
			editor: false,
			editable: function (ui) {}
		},
		{ title: "[[#{md.mcusma.dlvrqtm}]]", dataType: "string", dataIndx: "dlvrqtm" ,		//납품요청시간
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 8, msg: "[[#{ms.validations.maxLenLength(8)}]]" }]
		},
		{ title: "[[#{md.mcusma.routeky}]]", dataType: "string", dataIndx: "routeky" ,		//배송권역 Route
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.unlodmo}]]", dataType: "string", dataIndx: "unlodmo" ,		//하역 특이사항
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 10, msg: "[[#{ms.validations.maxLenLength(10)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuspecd}]]", dataType: "string", dataIndx: "cuspecd",		//고객 특이사항 코드
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	 
			editor: {
                type: "select",
                init: function (ui) {
	                ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
	                setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
				},
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
		},
		{ title: "[[#{md.mcusma.cusperm}]]", dataType: "string", dataIndx: "cusperm" ,		//고객 특이사항 내용
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.cublctc}]]", dataType: "string", dataIndx: "cublctc" ,		//*BL CustomerCostCenter
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		},
		{ title: "[[#{md.mcusma.cuqrcod}]]", dataType: "string", dataIndx: "cuqrcod" ,		//매장QR코드
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	  	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.depbank}]]", dataType: "string", dataIndx: "depbank" ,		//입금처 은행
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.depacnm}]]", dataType: "string", dataIndx: "depacnm" ,		//입금처 계좌번호
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{md.mcusma.invfoot}]]", dataType: "string", dataIndx: "invfoot" ,		//장끼 하단 공지
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 1000, msg: "[[#{ms.validations.maxLenLength(1000)}]]" }]		  	
		},

		{ title: "[[#{md.mcusma.mixraty}]]", dataType: "string", dataIndx: "mixraty" ,		//장끼 혼용률 표시방법
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			editor: {
                type: "select",
                init: function (ui) {
	                ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
	                setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
				},
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
		},
		{ title: "[[#{md.mcusma.invhead}]]", dataType: "string", dataIndx: "invhead" ,
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },	
			validations : [{ type: 'minLen', value: 0 }, { type: 'maxLen', value: 1000, msg: "[[#{ms.validations.maxLenLength(1000)}]]" }]		  	
		},
		{ title: "[[#{md.mdp3.receipt}]]", dataType: "string", dataIndx: "receipt", editable: false,
			render: function (ui) {
				var button = "<button class='receiptBtn' type='button'>[[#{bt.preview}]]</button>";
				return button;
			},
			postRender: function (ui) {
               	var param = ui.rowData;
				$cell = this.getCell(ui);
                $cell.find(".receiptBtn").button({ icons: { primary: 'ui-icon-contact' } }).on("click", function () {
                    return callMd3ReceiptModalLayerPopup(param);
                });
			}
		},
		{ title: "[[#{md.mcusma.credate}]]", dataType: "string", dataIndx: "credate", editable: false },
		{ title: "[[#{md.mcusma.cretime}]]", dataType: "string", dataIndx: "cretime", editable: false },
		{ title: "[[#{md.mcusma.creuser}]]", dataType: "string", dataIndx: "creuser", editable: false },
		{ title: "[[#{md.mcusma.lmodate}]]", dataType: "string", dataIndx: "lmodate", editable: false },
		{ title: "[[#{md.mcusma.lmotime}]]", dataType: "string", dataIndx: "lmotime", editable: false },
		{ title: "[[#{md.mcusma.lmouser}]]", dataType: "string", dataIndx: "lmouser", editable: false }
	];
	
	var mdp3_gul = new GridUtil(mdp3_colModel, '[[${gprogrid}]]', 'mdp3_grid');
			
	mdp3_gul.setFind();
	mdp3_gul.setReset();
	
	mdp3_gul.setAdd(function(evt, ui){
		var rowData = { state : true, compkey : "[[${session.compkey}]]" , custtyp : $('#mdp3_custtyp option:selected').val(), cudelyn : "N", poststm : "180000" };
		var ownerky = "[[${session.ownerky}]]";
		if(ownerky.trim() == ""){
			var dataObj = callAjax("data" , "GET" , "/md/ownerSelectBox.do", { owdelyn : "N" });
			var rData = dataObj.item;
			var column = this.getColumn({ dataIndx: "ownerky" });
			var options = rData.map(function(obj){
				var rObj = {};
				rObj[obj.combovl] = obj.combonm;
				return rObj				
			});
			column.editor.options = options;
		}else{
			rowData.ownerky = ownerky
		}
		var rowIndx = this.addRow({ rowData : rowData , checkEditable : false });
		this.goToPage({ rowIndx : rowIndx });
		this.editCell({ rowIndx : rowIndx , dataIndx : "custkey"});
	});
	
	mdp3_gul.setCreate(function(evt, ui){
		var keys = Object.keys(mdp3_init);
		var column;
		var rObj;
		var returnArr = new Array();
		
		for(key of keys){
			var gData = mdp3_init[key];
			column = this.getColumn({ dataIndx: key });
			var options = gData.map(function(obj){
	        	rObj = {};
	        	rObj[obj.combovl] = obj.combonm;
	        	return rObj
			});
	    	column.editor.options = options;
		}
		var custtyps = $('#mdp3_custtyp').children();
		column = this.getColumn({ dataIndx: "custtyp" });
		custtyps.map(function(obj){
			rObj = {};
			rObj[custtyps[obj].value] = custtyps[obj].text;
			returnArr.push(rObj);
			return returnArr;
		});
		column.editor.options = returnArr;
	});
	
	mdp3_gul.setChange(function(evt, ui){
    	if(ui.source === 'edit' || ui.source === 'paste'|| ui.source === 'checkbox'){
    		for(i=0; i< ui.updateList.length; i++){
    			this.updateRow( {
           			rowIndx : ui.updateList[i].rowIndx,
           		    newRow : { state : true },
           		    checkEditable: false
           		});
    		}
    	}
    });
	
	mdp3_gul.open();
	mdp3List();
	
	//=========================================================================
	// 인쇄 버튼 이벤트
	//=========================================================================
	$("#mdp3ReceiptPrint").click(function(){
		$(".wmpt6-roll").printThis({
			importCSS:false,
			loadCSS: "/css/pt/pt.css",
			beforePrint:function(){
				$("#mdp3ReceiptPrint").hide();
			},
			afterPrint:function(){
				$("#mdp3ReceiptPrint").show();
			}
		});
	});
	
	//=========================================================================
	// 장끼 레이어팝업 호출
	//=========================================================================
	function callMd3ReceiptModalLayerPopup(data){
		initMd3ReceiptModalLayerPopup(data);
		/* var aul = new AjaxUtil_Order("/md/mdu2Select.do", data, "GET");
		aul.setCallbackSuccess(initMd2ImgModalLayerPopup);
		aul.send(); */
	}
	
	//=========================================================================
	// 장끼 레이어팝업 Html 데이터 세팅
	//=========================================================================
	function initMd3ReceiptModalLayerPopup(response){
		var whoqryn = $(".wmpt6-whoqryn");
		qrCreate(whoqryn.eq(0), 100);
		//========초기화
		$("span[name='mdp3_receipt_cunamlc']").text("");		//귀하
		$("span[name='mdp3_receipt_date']").text("");			//날짜
		$("span[name='mdp3_receipt_week']").text("");			//요일
		$("span[name='mdp3_receipt_time']").text("");			//시간
		$("span[name='mdp3_receipt_cunamen']").text("");		//브랜드 영문명
		$("span[name='mdp3_receipt_cunamko']").text("");		//브랜드 한글명
		$("span[name='mdp3_receipt_cuaddr3']").text("");		//주소3
		$("span[name='mdp3_receipt_cuteln1']").text("");		//연락처1
		$("span[name='mdp3_receipt_cuteln2']").text("");		//연락처2
		$("span[name='mdp3_receipt_invhead']").text("");			//장끼 상단
		$("div[name='mdp3_receipt_invfoot']").text("");			//장끼 하단
		$("span[name='mdp3_receipt_halfdate']").text("");		//년-월-일 22-01-01
		$("span[name='mdp3_receipt_halfweek']").text("");		//요일 (일)
		
		//========값 세팅
		$("span[name='mdp3_receipt_cunamlc']").text(response.cunamlc);			//귀하
		$("span[name='mdp3_receipt_date']").text(dateFunction("date"));			//날짜
		$("span[name='mdp3_receipt_week']").text(dateFunction("week"));			//요일
		$("span[name='mdp3_receipt_time']").text(dateFunction("time"));			//시간
		$("span[name='mdp3_receipt_cunamen']").text(response.cunamen);			//브랜드 영문명
		$("span[name='mdp3_receipt_cunamko']").text(response.cunamko);			//브랜드 한글명
		$("span[name='mdp3_receipt_cuaddr3']").text(response.cuaddr3);			//주소3
		$("span[name='mdp3_receipt_cuteln1']").text(response.cuteln1);			//연락처1
		$("span[name='mdp3_receipt_cuteln2']").text(response.cuteln2);			//연락처2
		$("span[name='mdp3_receipt_invhead']").text(response.invhead);				//장끼 상단
		$("div[name='mdp3_receipt_invfoot']").text(response.invfoot);				//장끼 하단
		$("span[name='mdp3_receipt_halfdate']").text(dateFunction("halfdate"));
		$("span[name='mdp3_receipt_halfweek']").text(dateFunction("week"));
		
		$("#receiptMdp3ModalLayerPopup").modal("show");
	}
	
	//=========================================================================
	// 날짜 데이터 파싱 함수
	//=========================================================================
	function dateFunction(type){
		
		var result;
		var today = new Date();
		
		switch(type){
		
			case "halfdate":
				var year = today.getFullYear();
				var month = ('0' + (today.getMonth() + 1)).slice(-2);
				var day = ('0' + today.getDate()).slice(-2);
	
				var dateString = year.toString().substring(2) + '-' + month  + '-' + day;
				
				result = dateString;
			break;
			
			case "date":
				var year = today.getFullYear();
				var month = ('0' + (today.getMonth() + 1)).slice(-2);
				var day = ('0' + today.getDate()).slice(-2);

				var dateString = year + '-' + month  + '-' + day;
				
				result = dateString;
			break;
			
			case "week":
				const WEEKDAY = ['일', '월', '화', '수', '목', '금', '토'];
				var week = WEEKDAY[today.getDay()];
				
				result = "("+week+")";
			break;
			
			case "time":
				var hours = ('0' + today.getHours()).slice(-2); 
				var minutes = ('0' + today.getMinutes()).slice(-2);
				var seconds = ('0' + today.getSeconds()).slice(-2); 

				var timeString = hours + ':' + minutes  + ':' + seconds;
				
				result = timeString;
			break;
		}
		
		return result;
	}
	
	//=========================================================================
	// QR코드 생성 함수
	//=========================================================================
	function qrCreate(selector, size){
		var urlText = selector.text(); 
		selector.children().remove();
		selector.text("");
		selector.qrcode({   //qrcode 시작        
			render : "canvas",   
			minVersion: 1,
		    maxVersion: 40,
		    mode: 0,
			size : size,     
			text   : urlText
		});
	}
	
	function mdp3Init(){
		var initData = callAjax('data', 'GET', "/md/mdp3Init.do" , {});
		if(initData){
			var list = initData;
			for(item of list.ownerky){
				$('#mdp3_ownerky').append("<option value='" + item.combovl + "'>" + item.combonm +"</option>");	
			}
		}
		
		$('#mdp3_custtyp').append("<option value='WHOLESALE'>" + "[[#{md.mdp3.vender}]]" + "</option>");
		$('#mdp3_custtyp').append("<option value='SHIPMALL'>" + "[[#{md.mdp3.shipmall}]]" + "</option>");
		
		return initData
	}
	
	function mdp3List(){
		var grid = pq.grid("#mdp3_grid");
		grid.showLoading();
		
		var data = { 
			ownerky : $('#mdp3_ownerky option:selected').val(),
			custkey : $('#mdp3_custkey').val(), 
			custtyp : $('#mdp3_custtyp option:selected').val(), 
			cunamlc : $('#mdp3_cunamlc').val()
		};
		
		var aul = new AjaxUtil_Order("/md/mdp3Select.do", data, "GET");
		aul.setCallbackSuccess(function(data){
			grid.hideLoading();
			grid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
			grid.refreshDataAndView();
		});
		aul.send();
	}
});
	
</script>

</div>
</html>