<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
	    <title> Error Page!</title>
	    <link rel="shortcut icon" href="/img/warehouse1.ico">
	    <!-- CSS  -->
	    <link rel="stylesheet" href="/css/sy/error.css">
	</head> 
	<body class="err403"> 
		<div class="terminal">
	  		<h2>403 오류</h2>
	  	  	작동중인 서버에 클라이언트의 요청이 도달했으나, <br>
	  	  	서버가 클라이언트의 접근을 거부할 때 반환하는 HTTP 응답 코드이자 오류 코드이다.<br>
	  	  	서버 자체 또는 서버에 있는 파일에 접근할 권한이 없을 경우.
  	  		<hr>
  	  	
			<h1>Error <span class="errorcode"><span th:text="${code}"></span></span></h1>
			<p class="output"><span th:text="${msg}"></span></p>
			<p class="output">TIMESTAMP: <span th:text="${timestamp}"></span> </p>
			<p class="output">QueryString: <span th:text="${QueryString}"></span> </p>
			<p class="output">ParameterMap: <span th:text="${ParameterMap}"></span> </p>
			<p class="output">referer: <span th:text="${referer}"></span> </p> 
			  
			<p class="output"> 
				<a href="index" th:href="@{/login}"> login </a>    
				<a href="index" th:href="${referer}">Back to Page</a> 
			</p>
			<br>
		</div>

	</body>
</html> 
 