<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="ko" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Pragma" CONTENT="no-cache">
	<meta http-equiv="Expires" CONTENT="-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <title> Error Page!</title>
    <link rel="shortcut icon" href="/img/warehouse1.ico">
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/sy/error.css">
</head> 
<body class="err500">  
	<div class="terminal">
		<h2>500 서버 오류</h2>
	  	서버가 예상하지 못한 상황에 놓였다는 것을 나타냅니다.
	  	<br> 추천 : thymeleaf 문법 확인 
	  	<hr> 		
		<h1>Error <span class="errorcode"><span th:text="${code}"></span></span></h1>
		<p class="output"><span th:text="${msg}"></span></p>
		<p class="output">TIMESTAMP: <span th:text="${timestamp}"></span> </p> 
		<p class="output">QueryString: <span th:text="${QueryString}"></span> </p>
		<p class="output">ParameterMap: <span th:text="${ParameterMap}"></span> </p>
		<p class="output">referer: <span th:text="${referer}"></span> </p> 
		  
		<p class="output"> 
			<a href="index" th:href="@{/login}"> login </a>    
			<a href="index" th:href="${referer}">Back to Page</a> 
		</p>
		<br>
	</div>
</body>
</html> 