<div class="modal fade" id="wmpt99ModalLayerPopup" tabindex="-1">
	<link rel="stylesheet" href="/css/wm/wmpt9.css">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
	      	<div class="modal-body" style="height: 700px;">
	      		<div class="wmpt99-print-wrap" id="wmpt99_print_wrap">
		      		<div class="wmpt99-print-content" style="width:100%; text-align:center;">
		      			<div class="wmpt9-print-wrap">
				      		<div class="wmpt9-print-content" id="wmpt99_m_container"></div>
			      		</div>
		      		</div>
	      		</div>
	      	</div>
	      	<div class="modal-footer justify-content-end pb-4 border-0">
	      		<div>
					<button type="button" id="wmpt99-ModalLayerPrintBtn" class="btn btn-primary">[[#{bt.print}]]</button>
					<button type="button" id="wmpt99-ModalLayerCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal">[[#{bt.close}]]</button>
				</div>
	      	</div>
	    </div>
    </div>
</div>
<script th:inline="javascript">
$(function(){
	var parentParam = /*[[${params}]]*/ null;
	var wmpt99ModalOBject = $("#wmpt99ModalLayerPopup");
	wmpt99ModalOBject.modal("show");

	initData();

	function initData(){
		var rdata = callAjax("data", "GET", "/wm/wmpt9PrintList.do", parentParam);
		initView(rdata);
	}
	
	function initView(rdata){
		var modalContainer = $('#wmpt99_m_container');
		var list = rdata.list;
		for(idx in list){
			var s_cooutky = "S||" + list[idx].allgrky + "||" + list[idx].cooutky;
			var boxDom = $("<div></div>", {
				class : "wmpt9_m_box" ,
				style : "margin-bottom : 100px;"
			});
			
			var containerDom = $("<div></div>", {
				class : "wmpt9_m_box_container" 
			});
			
			var custDom = $("<div></div>", {
				class : "wmpt9_text" ,
				"text" : list[idx].custnam
			});
			
			var retailDom = $("<div></div>", {
				class : "wmpt9_text" ,
				"text" : list[idx].retanam
			});
			
			var boxRowDom = $("<div></div>", {
				class : "wmpt9_ptext" ,
			});
			
			var payDom = $("<div></div>", {
				"text" : list[idx].payortx
			});
			
			var amtDom = $("<div></div>", {
				"text" : list[idx].ordtamt
			});
			
			var contentDom = $("<div></div>", {
				class : "wmpt9_text" ,
				"text" : list[idx].rmkcoor
			});

			
			var bottomDom = $("<div></div>", {
				class : "d-flex align-items-center" 
			});
			
			var qrContainerDom =  $("<div></div>", {
				class : "pt-3" 
			});
			
			var qrCodeDom =  $("<div></div>", {
				class : "qr-code" ,
				"style" : "text-align:left"  ,
				"id" : "wmpt99_" + list[idx].cooutky
			});
			
			var qrLabelDom = $("<div></div>", {
				class :"qrcode-label mt-2" ,
				"style" : "text-align:left" ,
				"text" : s_cooutky
			});
			
			var imgDom =  $("<div></div>", {
				class : "wmpt9_m_imgBox" 
			});
			
			var imgLogoDom =  $("<img></img>", {
				"src" : "/img/binblur.png" ,
				"style" : "margin-right:10px"
			});
			
			var imgNameDom =  $("<img></img>", {
				"src" : "/img/binblur_title.png" 
			});
			
			// 중간 컨테이너
			boxRowDom.append(payDom , amtDom);
			containerDom.append(custDom , retailDom , boxRowDom , contentDom);
			// 하단
			qrContainerDom.append(qrCodeDom , qrLabelDom);
			imgDom.append(imgLogoDom , imgNameDom);
			bottomDom.append(qrContainerDom , imgDom);
			
			boxDom.append(containerDom , bottomDom);
			modalContainer.append(boxDom);
			
			qrCreate(list[idx].allgrky , list[idx].cooutky, 100);
		}
	}
	
	$("#wmpt99-ModalLayerPrintBtn").click(function(){
		pickingPrint();
	});
	
	$("#wmpt99-ModalLayerCloseBtn").click(function(){
		wmpt99ModalOBject.modal("hide");
	});

	function qrCreate(allgrky ,selector, size){
		var urlText = selector;
		$("#wmpt99_" + urlText).children().remove();
		$("#wmpt99_" + urlText).qrcode({   //qrcode 시작        
			render : "canvas",   
			minVersion: 1,
		    maxVersion: 40,
		    mode: 0,
			size : size,     
			text   :  "S||" + allgrky + "||" +  selector
		});
	}
	
	function pickingPrint(){
		/*
		2022-08-02 페이징 번호 넣기 방법 찾아야함..
		*/
		$("#wmpt99_m_container").children().printThis({
			importStyle : '<style media="print">@page {size: 5.5in 3.93in;}</style>',
			loadCSS: "/css/wm/wmpt9.css"
		});
	}
});
</script>
