 <html lagn="ko" xmlns:th="http://www.thymeleaf.org">
 		<div th:fragment="fragments-dashboard"   >
		<!--  mainConten 시작 -->

 			<!--  차트 스타일 시작 -->
			<link rel="stylesheet" href="/css/main/echart.css">
			<!--  차트 스타일 종료 -->
			
 			<!--  Dashboard 시작 --> 			
				<div id="content" class="main-content">
					<div class="content-header main-content-header">
						<div class="header-left">
							<div class="page-title">
							기준일
							</div>
							<span id="dash_vender_posdate">2023.01.01</span>
						</div>
						<div class="header-right">
							<form action="">
								<select class="select-control" id="dash_vender_warekey">
									<option value="WH01">WH01</option>
								</select>
								<button class="default-btn"><i class="fa-solid fa-arrows-rotate"></i></button>		
							</form>
						</div>
					</div>
					<!-- Tab content Home -->
					<div id="Home_content" class="main-content">
						<div class="main-row first-row step-row">
							<div class="step-card step1">
								<span class="step-new"></span>
								<div class="main-card">
									<div class="card-inner">
										<div>
											<span class="step-title">출고대기</span>
											<span class="step-sub">(재고장)</span>
											<a href="#" onclick="mainProgramCMD('wma1');">바로가기</a>
										</div>
										<div><img src="/img/dashboard/dashboard_step1.png" alt="step1"></div>
									</div>
								</div>
							</div>
							<div class="step-card step2">
								
								<div class="main-card">
									<div class="card-inner">
										<div>
											<span class="step-title">출고완료</span>
											<span class="step-sub">(출고리스트)</span>
											<a href="#"  onclick="mainProgramCMD('wma2');">[[#{bt.more}]]</a>
										</div>
										<div><img src="/img/dashboard/dashboard_step2.png" alt="step2"></div>
									</div>
								</div>
							</div>
							<div class="step-card step3">
								<div class="main-card">
									<div class="card-inner">
										<div>
											<span class="step-title">입고완료</span>
											<span class="step-sub">(입고리스트)</span>
											<a href="#"  onclick="mainProgramCMD('wma3');">[[#{bt.more}]]</a>
										</div>
										<div><img src="/img/dashboard/dashboard_step3.png" alt="step3"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="main-row">
							<div class="main-card">
								<div class="main-banner">
									<div class="banner-left">
										<span class="banner-icon"><img src="/img/dashboard/icon_announce.png" alt="공지"></span>
										<a href="#">
											<p class="title td-check" id="bin_boidseq"></p>
											<p class="title" id="bin_botitle"></p>
											<span class="date" id="bin_credate"></span>
										</a>
									</div>
									<div id="mdb11_insertModal"></div>		
									<a href="#" class="btn-banner" onclick="mainProgramCMD('mdb1');">[[#{bt.more}]]</a>
								</div>
							</div>
						</div>
						<div class="main-row">
							<div class="main-card no-header">
								<div class="card-inner">
									<div class="card-inner-container">
										<div class="inner-header">
											<h3>출고 현황</h3>
<!-- 											<div class="card-tab">
												<a href="#panel1" class="card-tab-button active" onClick="cardTabActive(event)">일별</a>
												<a href="#panel2" class="card-tab-button" onClick="cardTabActive(event)">월별</a>
											</div> -->
										</div>
										<!--tab1-->
										<div id="panel1" class="card-tab-panel" style="display: flex;">
											<div class="main-chart-2">
												<div id="vender_chart1" class="chart-container"  ></div>
											</div>											
											<div class="main-table">
												<table>
													<thead>
														<tr>
															<th>일자</th>
															<th>총 출고량</th>
															<th>금액</th>
														</tr>
													</thead>
													<tbody id="vender_chart1_table">
														<tr>
															<td>23-01-01</td>
															<td>00</td>
															<td>00</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!--// tab1-->
										<!--tab2-->
<!-- 										<div id="panel2" class="card-tab-panel">
											<div class="main-chart-2">
												<div id="vender_chart2" class="chart-container"  ></div>
											</div>										
										</div> -->
										<!-- //tab2-->
									</div>
								</div>
							</div>
							<div class="main-card no-header">
								<div class="card-inner">
									<div class="card-inner-container">
										<div class="inner-header">
											<h3>수주 현활</h3>
										</div>
										<!--tab1-->
										<div id="panel3" class="card-tab-panel" style="display: flex;">
											<div class="main-chart-2">
												<div id="vender_chart2" class="chart-container"  ></div>
											</div>
											<div class="main-table">
												<table>
													<thead>
														<tr>
															<th>일자</th>
															<th>총 수주량</th>
															<th>금액</th>
														</tr>
													</thead>
													<tbody id="vender_chart2_table">
														<tr>
															<td>23-01-01</td>
															<td>00</td>
															<td>00</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="main-row">
							<div class="main-card no-header">
								<div class="card-inner">
									<div class="card-inner-container">
										<div class="inner-header">
											<h3>결제 현황</h3>
										</div>
										<!--tab1-->
										<div id="panel5" class="card-tab-panel" style="display: flex;">
											<div class="main-chart-2">
												<div id="vender_chart3" class="chart-container"  ></div>
											</div>
											<div class="main-table">
												<table>
													<thead>
														<tr>
															<th>일자</th>
															<th>금액</th>
															<th>누적</th>
														</tr>
													</thead>
													<tbody id="vender_chart3_table">
														<tr>
															<td>23-01-01</td>
															<td>00</td>
															<td>00</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
				
	<!--  차트 스크립트 시작 -->
	<script src="/vender/echarts/echarts5.4.0/echarts.min.js"></script>
	<script src="/js/main/dashboard_binblur.js"></script>
	<script>
	var pageId = "dash_vender";
	var initInfoData 	= null;
	var initChartData 	= null;
	
	/***********************
	 * 카드형 통계
	 ***********************/ 
	callData();
	
	$(".card-refresh").click(function(){
		var datatype = $(this).data("datatype");
		callData(datatype);
	});

	function callData(datatype){
		datatype = datatype != undefined || datatype != null ? datatype : "ALL";
		
		var compkey = "[[${session.compkey}]]";
		var ownerky = "[[${session.ownerky}]]" != "" ? "[[${session.ownerky}]]" : " ";
		var vendkey = "[[${session.ptnrkey}]]" != "" ? "[[${session.ptnrkey}]]" : " ";
		
		var dashParam = {
			compkey : compkey,
			ownerky : ownerky,
			warekey : $("#dash_vender_warekey").val(),
			vendkey : vendkey,
			datatype : datatype 
		};
		
		var dashBoard = new AjaxUtil_Order("/main/DashBoardVenderList.do", dashParam , "GET");
		dashBoard.setCallbackSuccess(function(rData){
			setInitInfoData(rData);
			setInitChartData(rData);
			refreshChartArea(datatype);
			setBoardData(rData);
		});
		dashBoard.send();
	}
	
	function setInitInfoData(rData){
		initInfoData = rData.infoItem;
		$("#dash_vender_posdate").text(initInfoData.VENDER_POSDATE);
	}
	
	function setInitChartData(rData){
		initChartData = rData.infoItem;
	}
	
	function initGraphChartData(){
		initGraphChart1();
		initGraphChart1Table();
		initGraphChart2();
		initGraphChart2Table();
		initGraphChart3();
		initGraphChart3Table();
	}
	
	
	function refreshChartArea(datatype){
		switch(datatype){
			case "ALL":
				initGraphChartData();
			break;
			
			case "SAMPLE":
				initGraphChart1();
				initGraphChart1Table();
			break;
			
			case "NSHIPPING":
				initGraphChart2();
				initGraphChart2Table();
			break;
			
			case "PAYMENT":
				initGraphChart3();
				initGraphChart3Table();
			break;
		}
	}
	
	function initGraphChart1(){
		setCharthb1('vender_chart1' , initChartData.VENDER_CHART1_XLData, initChartData.VENDER_CHART1_RSData);
	}
	
	function initGraphChart1Table(){
		var data = initChartData.VENDER_CHART_1_TABLE_RSData;
		
		var tableDom = $("#vender_chart1_table");
		tableDom.children().remove();
		
		if(data.length > 0){
			for(var i=0; i<data.length; i++){
				var trDom = $("<tr></tr>");
				var tdCdateDom = $("<td></td>",{
					"text" : data[i].cdate
				});
				var tdVendcntDom = $("<td></td>",{
					"text" : data[i].vendqty
				});
				var tdSampcntDom = $("<td></td>",{
					"text" : data[i].vendamt
				});
				
				trDom.append(tdCdateDom, tdVendcntDom, tdSampcntDom);
				tableDom.append(trDom);
			}
		}
	}
	
	function initGraphChart2(){
		setChartl11('vender_chart2', initChartData.VENDER_CHART2_XLData, initChartData.VENDER_CHART2_RSData)
	}
	
	function initGraphChart2Table(){
		var data = initChartData.VENDER_CHART_2_TABLE_RSData;
		
		var tableDom = $("#vender_chart2_table");
		tableDom.children().remove();
		
		if(data.length > 0){
			for(var i=0; i<data.length; i++){
				var trDom = $("<tr></tr>");
				var tdCdateDom = $("<td></td>",{
					"text" : data[i].cdate
				});
				var tdVendcntDom = $("<td></td>",{
					"text" : data[i].vendqty
				});
				var tdSampcntDom = $("<td></td>",{
					"text" : data[i].vendamt
				});
				
				trDom.append(tdCdateDom, tdVendcntDom, tdSampcntDom);
				tableDom.append(trDom);
			}
		}
	}
	
	function initGraphChart3(){
		setChartl12('vender_chart3', initChartData.VENDER_CHART3_XLData, initChartData.VENDER_CHART3_RSData);
	}
	
	function initGraphChart3Table(){
		var data = initChartData.VENDER_CHART_3_TABLE_RSData;
		
		var tableDom = $("#vender_chart3_table");
		tableDom.children().remove();
		
		if(data.length > 0){
			for(var i=0; i<data.length; i++){
				var trDom = $("<tr></tr>");
				var tdCdateDom = $("<td></td>",{
					"text" : data[i].cdate
				});
				var tdVendcntDom = $("<td></td>",{
					"text" : data[i].vendamt
				});
				var tdSampcntDom = $("<td></td>",{
					"text" : data[i].vtotamt
				});
				
				trDom.append(tdCdateDom, tdVendcntDom, tdSampcntDom);
				tableDom.append(trDom);
			}
		}
	}

	function setBoardData(param){
		if(param.boardData !== undefined){
			var list = param.boardData;
			var cardDom = $('.carousel-inner');
			$(list).each(function(i){
				$('#bin_boidseq').html(list[i].boidseq);
				$('#bin_botitle').html(list[i].botitle);
				$('#bin_credate').html(list[i].credate);
			});
		}
	};
	
	$('#bin_botitle').click(function(e){
		
		var param = { boidseq : $('#bin_boidseq').html() , credate : $('#bin_credate').html() };
		var url = "/main/modalLoad?gprogurl=/com/modal/mdb11.html";
		var urlParameters = Object.entries(param).map(e => e.join('=')).join('&');
		var tURL = url+"&"+urlParameters;
		
		$("#mdb11_insertModal").load(tURL);
	});
	
	function cardTabActive(e){
		var activeTab = $(e.target).attr('href');
		var container = $(e.target).closest('.card-inner');
	
		container.find('.card-tab-button').removeClass('active');
		$(e.target).addClass('active');
	
		container.find('.card-tab-panel').hide();
		$(activeTab).css('display','flex');
		
		
	       $("[_echarts_instance_]").each(function(){
	           window.echarts.getInstanceById($(this).attr('_echarts_instance_')).resize()
	       });
		
		e.preventDefault() 
	}
	</script>
		<!--  차트 스크립트 종료 -->
		<!-- 				
	<script>
		function cardTabActive(e){
			var activeTab = $(e.target).attr('href');
			var container = $(e.target).closest('.card-inner');
	
			container.find('.card-tab-button').removeClass('active');
			$(e.target).addClass('active');
	
			container.find('.card-tab-panel').hide();
			$(activeTab).css('display','flex');
			
			e.preventDefault()
			
		}
	</script> -->
	<!--  Dashboard end -->
				
				
				 
		 <!--  mainConten 종료 -->	 
		</div>
</html> 