/* ---------------------------------------------------
    Side Menu  
----------------------------------------------------- */
#mainSidebar {
    width: 100%;
    height: 60px; /* 상단메뉴 높이 */ 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    background: #eef0f3; 
    color: #242934;
      
  
    display: flex; 
    /*flex-direction: column;*/      
    padding: 0 20px;
    /*border: solid;*/
    /*OVERFLOW-Y: auto;    */
    
    border: 0px solid #848590; /* 영역 디버깅 */ 
}

#mainContent {
    /*width: calc(100% - 10px);*/
    width: 100%;
    height: 100%; 
/*  height: calc(100% - 20px);*/
/*  transition: all .8s; */
    margin-left: 10px;
/*    overflow-y: auto; */
}
/*
#mainContent.active {
    margin-left: 0px;
}
#mainSidebar.active {
    margin-left: -260px;
}

#mainSidebar.active .toggle-btn{
	position: absolute;
    left: 257px; 
    top: 29px; 
}

*/

/* ---------------------------------------------------
     Side Menu ����/�ݱ� MEDIA - QUERIES
----------------------------------------------------- */ 
/*
@media (max-width: 768px) {
    #mainSidebar { margin-left: -260px; }
    #mainSidebar.active {margin-left: 0; }
    #mainSidebar .toggle-btn{
		position: absolute; 
		left: 275px; 
		top: 24px;
	}
	#mainSidebar.active .toggle-btn{
		position: relative; 
		left: 0; 
		top: 0;
	}
    #mainContent {width: 100%;height: 100%; padding-top:45px; margin-left: 0; }
    #mainContent.active { width: 100%; height: 100%; }
    #sidebarCollapse span {display: none; } 
}
*/
/* ---------------------------------------------------
    Side ��� STYLE
----------------------------------------------------- */ 
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none; 
    outline: none !important;
    border: none;
}



/* ---------------------------------------------------
    mainSidebar STYLE
----------------------------------------------------- */
/* 로그 */  
#mainSidebar .sidebar-header {
    padding: 24px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
    
    border: 0px solid #848590; /* 영역 디버깅 */ 
    float:left; 
}
#mainSidebar .sidebar-header > a{
	display: flex; 
	align-items:center;
} 
#mainSidebar .sidebar-header > a img{
	margin-right: 8px;
}
/*
.toggle-btn{
	width:28px; 
	height: 28px; 
	position: relative; 
	left: 0; top: 0; 
	border: none;
	background: transparent; 
	color: #0070c0;
	cursor:pointer;
}
*/

/* 로그인 사용자 패널 */
.user-panel{
	display: flex;  
	justify-content: center; 
	align-items: center;
	
	width: 300px;  
}  
.user-panel >a{
	font-size: .875rem !important;
	color: #242934;
}
.user-panel .image{
	width: 100%; 
	/*margin-top: 30px;*/
	/*margin-bottom: 15px;*/
	text-align: center; 
	/*display: flex;*/
    justify-content: space-around;
}

.user-panel .image .image-circle{
	width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 25px;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    line-height: 2.2;
    font-size: 25px; 
    float:left;  
}

.user-panel .username {
	margin-left:10px;
	margin-top: 15px;
    float:left; 
}
.user-panel img{
	/*
	height:60px;
	width:60px;
	border-radius: 50%;
	*/
}
.dropdown-menu img{
	width: 16px; 
	height: 16px;
	margin-right: 10px;
}
.dropdown-menu a{
	padding: 2px 10px;
	display: flex; 
	align-items: center; 
}

/* 메뉴검색 */
.sidebar-search{
	padding:12px 0; 
	border-bottom:0px solid #dbe0e9;
	margin-bottom: 12px; 
	
	width: 300px;  
    float:left; 
}
.sidebar-search .search-body{
	position: relative; 
}
.sidebar-search .search-body i{
	position: absolute; 
	left: 10px; 
	top: 11px; 
	color: #242934;
	font-size: .875rem; 
}
.sidebar-search .form-control{
	background: #e4e6e9;
	border: 0;
	padding-left: 30px;
	font-size: .875rem; 
	letter-spacing: -0.075px;
}


/* ---------------------------------------------------
    mainSidebar  
----------------------------------------------------- */
/* 3단 메뉴바 전체 */ 
.sidebar-nav-wrap{
	width: 100%; 
	position: relative; 
	
	border: 1px solid #848590; /* 영역 디버깅 */ 
}
.sidebar-nav-outer{
	position: absolute;  
	left: 0; top: 0; 
	width: 100%; 
	height: 100%; 
	padding-bottom: 10px; 
}
#sidebardiv {
    width:100%;
    height:100%;  
    /*OVERFLOW-Y:auto; 
    OVERFLOW-X:hidden; */ 
}

#mainSidebar ul.components {
 border: 1px solid #848590; /* 영역 디버깅 */	
}
/* 3단 메뉴바 : level1 메뉴 */ 
#sideMenuBar > li > a{
	padding: 6px 0; 
	
	border: 0px solid #848590; /* 영역 디버깅 */
	float:left; /* level1 메뉴  */
}
#mainSidebar ul p1,
#mainSidebar ul p2,
#mainSidebar ul p3,
#mainSidebar ul p4 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: normal;
    color: #3d3d4e;
   /*  padding: 10px; */
}

#mainSidebar ul li a { 
    font-size: 1rem;
    display: block;
    color: #3d3d4e;
}
#mainSidebar ul li a img{
	display: inline-block;
    margin-right: 10px;
    width: auto;
    height: auto;
    vertical-align: middle;
		
}
#mainSidebar ul li a p1 { 
     font-size: 1rem; 
    display: block;
    width: 100%; 
    height: 40px; 
    border-radius:5px; 
    line-height: 40px;
    padding: 0 10px;
    font-weight:600;
}
#mainSidebar ul li a:hover p1,
#mainSidebar ul li a:hover p2
#mainSidebar ul li a:hover p3
#mainSidebar ul li a:hover p4{
	background: #e4e6e9
	
}
#mainSidebar ul li a[aria-expanded="true"] p1 {
    background: #0070c0;
    color: #ffffff;
}
#sideMenuBar > li > ul{
	padding-top: 8px; 
	padding-bottom: 8px
}

#mainSidebar ul li a p2 {
	height: 33px; 
	line-height: 33px;
    padding-left:0px;
     font-size: .938rem;
    /*font-weight: bold;*/
    display: block;
    position: relative; 
    padding-left: 40px;
    margin-bottom: 8px;
    font-weight:500;
}
#mainSidebar ul li a p2::before{
	content:'';
	width: 7px;
	height: 7px;
	border-radius: 50%; 
	border: 2px solid #848590;
	display: inline-block; 
	position: absolute; 
	left: 20px; 
	top: 13px; 
	transition:.15s;
	
}
#sideMenuBar > li > ul> li> a:hover p2::before,
#sideMenuBar > li > ul> li> a[aria-expanded="true"] p2::before{
	border-color: #3d3d4e;
	
}

#mainSidebar ul li a p3 {
	height: 25px;
	line-height: 25px;
    padding-left: 40px;
    font-size: .875rem;
    display: block;
    margin-bottom: 8px;
    opacity: .6;
    transition: .15s; 
}
#sideMenuBar > li > ul> li> ul > li > a:hover p3,
#sideMenuBar > li > ul> li> ul > li > a[aria-expanded="true"] p3{
	opacity: 1;
}

#mainSidebar ul li a p3 img{
	display: none;
}
#mainSidebar ul li a p4 {
    padding-left: 51px;
    font-size: .813em;
    display: block;
    line-height: 30px; 
    height:30px;
}

#sideMenuBar > li > ul> li > ul > li > ul {
	padding-bottom:10px; 
}
#mainSidebar ul li a:hover {
    color: #7386D5;
    /* background: #fff; */
}

/* #mainSidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after{
	display: none; 
}

.dropdown-toggle{
	font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
    position: relative; 
}
.dropdown-toggle::before{
	content:"\f078";
	color: #3d3d4e;
	position: absolute; 
	right: 10px; 
	top: 50%; 
	transform: translateY(-50%);
	font-size: .65rem;
}

 
.dropdown-toggle[aria-expanded="true"]::before {
    content:"\f077";
    color: #ffffff; 
    
}
#mainSidebar ul> li > ul > li .dropdown-toggle[aria-expanded="true"]::before {
    content:"\f077";
    color: #3d3d4e !important; 
}
/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

} */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#mainSidebar li a { color:#fff; text-decoration:none; font-size: 16px;}
#mainSidebar a {  text-decoration:none; font-size: 16px;}
 

 /*scrollbar*/

.mCSB_dragger .mCSB_dragger_bar{background-color: #c1c1c1 !important}
.mCSB_draggerRail{  background-color: #eef0f3 !important; } 



/* ---------------------------------------------------
    mainSidebar - 
----------------------------------------------------- */ 
#menu {
	height: 50px;
	width: 100%;
	background: #fcc;
}
.main1 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.main1>li {
	float: left;
	width: 25%; 
	line-height: 50px;
	text-align: center;
	position: relative;
}
.main1>li:hover .main2 {
	left: 0;
}
.main1>li a {
	display: block;
}
.main1>li a:hover {
	background: #B21016;
	color: #fff;
	font-weight: bold;
}
.main2 {
	position: absolute;
	top: 50px;
	left:-9999px;
	background: #ccc;
	width: 400px; 
}
.main2>li {
	position: relative;
}
.main2>li:hover .main3 {
	left: 100%;
}
.main2>li a, .main3>li a {
	border-radius: 10px;
	margin: 10px;
}
.main3 {
	position: absolute;
	top: 0;
	background: #6BD089;
	width: 400px;
	left: -9999px;
	/*left: 100%;*/
	/*display: none;*/
}
.main3>li a:hover {
	background: #085820;
	color: #fff;
}
 

