<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent" class="tab-content">
	<div class="tab-inner">
		<div class="content-header">
			<div class="header-left">
	    		<div class="page-title">
					<h1 th:text="${gnatitle}"></h1>
				</div>
	  		</div>
	  		<div class="header-right">
				<button type="button" class="btn default-btn" id="syu2_save"   th:if="${userRole.getPosactv() == 'Y'}"><i class="fa-regular fa-circle-check"></i><span>[[#{bt.save}]]</span></button>
		  		<button type="button" class="btn default-btn" id="syu2_search" th:if="${userRole.getGetactv() == 'Y'}"><i class="fa-solid fa-magnifying-glass"></i><span>[[#{bt.search}]]</span></button>
				<button type="button" th:class="'btn bookmark-btn '+ ${session.bookmark.get(gprogrid)=='Y' ? 'active' : ' '}" th:pprogrid="${gprogrid}" onclick="bookmarkclick(this);"><i class="fa-solid fa-star"></i></button>
			</div>
	  	</div>
	  	<div class="search-wrap main-search-wrap">
			<div class="search-form">
			  	<div class="form-group row col">
					<label for="syu2_menukey" class="col-md-5 col-xl-2 col-form-label">[[#{sy.smnuhd.menukey}]]</label>
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('sy.smnuhd.menukey')}" id="syu2_menukey"/>
					</div>
					<label for="syu2_menunam" class="col-md-5 col-xl-2 col-form-label">[[#{sy.smnuhd.menunam}]]</label>
					<div class="col-md-7 col-xl-4">
						<input type="text" class="form-control" th:placeholder="${#messages.msg('sy.smnuhd.menunam')}" id="syu2_menunam"/>
					</div>
				</div>
			</div>
		</div>
		<div class="content-inner">
			<div class="grid-2">
		 		<div class="grid-container">
		 			<div id="syu2_h_grid" style="height:230px;"></div>
		 		</div>
		 	</div>
		 	<div class="grid-2">
		 		<div class="grid-container">
		 			<div id="syu2_i_grid" style="height:330px;"></div>
		 		</div>
		 	</div>
		</div>
	</div>
	
<script>
$(function(){
	//============================================================	
	//검색 버튼 이벤트
	//============================================================	
	$("#syu2_search").click(function () {
		var headGrid = pq.grid("#syu2_h_grid");
		var itemGrid = pq.grid("#syu2_i_grid");
		var data = { menukey : $('#syu2_menukey').val(), menunam : $('#syu2_menunam').val() };
		headGrid.showLoading();
		var aul = new AjaxUtil_Order("/sy/selectHeaderMenu.do", data, "GET");
		aul.setCallbackSuccess(function (data){
			if(data.list.length == 0){
				alert("[[#{ms.getDataZero}]]");
			}
			headGrid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
			headGrid.refreshDataAndView();
			itemGrid.option( "dataModel", { data: [] } );
			itemGrid.refreshDataAndView();
		});
		aul.setComplete(function(data){
			headGrid.hideLoading();
		});
		aul.send();
	});
	
	//============================================================	
	//저장 버튼 이벤트
	//============================================================
	$("#syu2_save").click(function () {
		var headGrid = pq.grid("#syu2_h_grid"), headCheck = headGrid.Checkbox('state').getCheckedNodes();	//선택한 리스트
		var itemGrid = pq.grid("#syu2_i_grid"), itemChange = itemGrid.getChanges({all:true});
		
		if(headCheck.length > 0){
			//============================================================	 
	    	//체크된 Head 데이터 충복 체크
	    	//============================================================
			for(i=0; i<headCheck.length; i++){
				for(j=0; j < headGrid.getData().length; j++){
					if(headCheck[i].pq_ri != headGrid.getData()[j].pq_ri){
						if(headCheck[i].menukey === headGrid.getData()[j].menukey){
			      			alert((headGrid.getData()[j].pq_ri + 1) + "[[#{ms.rowDataDuplication}]]");	
			      			headGrid.editCell( { rowIndx: headCheck[i].pq_ri, dataIndx: "menukey" } );
							return false;
						}
					}
				}
			}
			
	      	//itemGrid updateList 체크 데이터 정제
			for(z=0; z<itemChange.updateList.length; z++){
				if(itemChange.updateList[z].state != true){
					itemChange.updateList.splice(z, 1);
					itemChange.oldList.splice(z, 1);
				}
			}
			
			//itemGrid addList 체크 데이터 정제
			for(x=0; x<itemChange.addList.length; x++){
				if(itemChange.addList[x].state != true){
					itemChange.addList.splice(x, 1);
				}
			}
		
			var result = confirm("[[#{ms.checksave}]]");
			if(result == true){
	      		headGrid.showLoading();
	      		itemGrid.showLoading();
	      		var data = { head : headCheck, item : itemChange, menukey : $('#syu2_menukey').val(), menunam : $('#syu2_menunam').val() };
	      		var aul = new AjaxUtil_Order("/sy/menuSave.do", data);
				aul.setCallbackSuccess(function(data) {
					headGrid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
					headGrid.refreshDataAndView();
					itemGrid.option( "dataModel", { data: [] } );
					itemGrid.refreshDataAndView();
					alert("[[#{ms.saveSuccess}]]");
				});
				aul.setComplete(function(data){
					headGrid.hideLoading();
					itemGrid.hideLoading();
				});
				aul.send();
			}
		}else{
			alert("[[#{ms.choiceRowZero}]]");
		}
	});
	
	//============================================================	 
	//menu 헤더
	//============================================================
	var syu2_h_gridCM = [
		{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
            type: 'checkbox', cls: 'ui-state-default', sortable: false, editor: false,
             cb: { all: false, header: true }
     	},
     	{ title: "rowkey", dataType: "string", dataIndx: "rowkey", hidden: true, editable: false},
        { title: "[[#{sy.smnuhd.compkey}]]", dataType: "string", dataIndx: "compkey", hidden: true, editable: false}, 
		{ title: "[[#{sy.smnuhd.menukey}]]", dataType: "string", dataIndx: "menukey",
        	styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
        	render: function (ui) {
    			if(ui.cellData){
					ui.rowData.menukey = ui.cellData.toUpperCase();	
				}
            },
      		editable: function (ui) {
     			return editable = (ui.rowData.rowkey) ? false : true;
    		},
    		validations : [{ type: 'minLen', value: 1, msg: "[[#{ms.validations.minLenLength(1)}]]" }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
		}, 
		{ title: "[[#{sy.smnuhd.menunam}]]", dataType: "string", dataIndx: "menunam",
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			validations : [{ type: 'minLen', value: 1, msg: "[[#{ms.validations.minLenLength(1)}]]" }, { type: 'maxLen', value: 30, msg: "[[#{ms.validations.maxLenLength(30)}]]" }]
		},
		{ title: "[[#{sy.smnuhd.credate}]]", dataType: "string",  dataIndx: "credate", editable: false},
		{ title: "[[#{sy.smnuhd.cretime}]]", dataType: "string",  dataIndx: "cretime", editable: false},
		{ title: "[[#{sy.smnuhd.creuser}]]", dataType: "string",  dataIndx: "creuser", editable: false},
		{ title: "[[#{sy.smnuhd.lmodate}]]", dataType: "string",  dataIndx: "lmodate", editable: false},
		{ title: "[[#{sy.smnuhd.lmotime}]]", dataType: "string",  dataIndx: "lmotime", editable: false},
		{ title: "[[#{sy.smnuhd.lmouser}]]", dataType: "string",  dataIndx: "lmouser", editable: false}
    ];
	
	var syu2_h_grid = new GridUtil(syu2_h_gridCM, '[[${gprogrid}]]', 'syu2_h_grid');
	syu2_h_grid.setTitle("[[#{sy.syu2.headTitle}]]");
	syu2_h_grid.setFind();
	syu2_h_grid.setReset();
	
	syu2_h_grid.setAdd(function(evt, ui){
		var rowIndx = this.addRow({ rowData: {state : true, compkey : "[[${session.compkey}]]" }, checkEditable : false });
		this.goToPage({ rowIndx: rowIndx });
		this.editFirstCellInRow({ rowIndx: rowIndx });
	});
	
	syu2_h_grid.setDelete(function(evt, ui){
		var headGrid = this, checkList = headGrid.Checkbox('state').getCheckedNodes();
		var itemGrid = pq.grid("#syu2_i_grid");
		
		if(checkList.length > 0){
			setTimeout(function () {
            	var ans = window.confirm("[[#{ms.choiceRowDelete}]]");	//선택된 행을 모두 삭제하시겠습니까?
                if (ans) {
                	if(!checkList[0].rowkey){
                		headGrid.deleteRow({ rowIndx: checkList[0].pq_ri });
        			}else{
        				var data = { data : checkList, menukey : $('#syu2_menukey').val(), menunam : $('#syu2_menunam').val() };
        				headGrid.showLoading();
        				itemGrid.showLoading();
                		var aul = new AjaxUtil_Order("/sy/deleteHeaderMenu.do", data, "DELETE");
            	    	aul.setCallbackSuccess(function (data){
            	    		headGrid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
            				headGrid.refreshDataAndView();
            				itemGrid.option( "dataModel", { data: [] } );
            				itemGrid.refreshDataAndView();
                        	alert("[[#{ms.deleteSuccess}]]");
            	    	});
            	    	aul.setComplete(function(data){
            	    		headGrid.hideLoading();
            	    		itemGrid.hideLoading();
        				});
            	    	aul.send();
        			}
                }
            });
		}else{
			alert("[[#{ms.choiceRowZero}]]");
    	}
	});
	
	syu2_h_grid.setRowDblClick(function(evt,ui){
		this.Checkbox('state').unCheckAll();
		this.updateRow( {
   			rowIndx : ui.rowData.pq_ri,
   		    newRow : { state : true },
   		    checkEditable: false
   		});
	});
	
	syu2_h_grid.setCheck(function(evt, ui){
		if(ui.check){
			this.Checkbox('state').unCheckAll();
			ui.rowData.state = true;
			this.refreshRow({ rowIndx: ui.rowData.pq_ri});
			syu2_i_grid_List(ui);
		}
	});
	
	syu2_h_grid.setChange(function (evt, ui) {
		if(ui.source === 'edit'){
    		for(i=0; i<ui.updateList.length; i++){
    			this.updateRow( {
        			rowIndx : ui.updateList[i].rowIndx,
        		    newRow : { state : true },
        		    checkEditable: false
        		});
    		}
    	}else if(ui.source === 'paste'){
    		for(i=0; i<ui.updateList.length; i++){
    			if(ui.updateList[i].newRow.menukey){
    				this.updateRow( {
            			rowIndx : ui.updateList[i].rowIndx,
            		    newRow : { menukey : ui.updateList[i].newRow.menukey.toUpperCase() },
            		    checkEditable: false
            		});
    			}
    		}
    		if(ui.addList.length > 0){
    			for(i=0; i<ui.addList.length; i++){
        			ui.addList[i].newRow.compkey = "[[${session.compkey}]]";
        		}
    		}
    	}
	});
	
	syu2_h_grid.open();
	
	//============================================================	
	//Menu Item 리스트 조회
	//============================================================
	function syu2_i_grid_List(ui){
		var grid = pq.grid("#syu2_i_grid");
		if(ui.rowData.rowkey){
			var data = { compkey : ui.rowData.compkey, menukey : ui.rowData.menukey };
			grid.showLoading();
			var aul = new AjaxUtil_Order("/sy/selectItemMenu.do", data, "GET");
			aul.setCallbackSuccess(function (data){
				if(data.list.length == 0){
					alert("[[#{ms.getDataZero}]]");
				}
				grid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
				grid.refreshDataAndView();
			});
			aul.setComplete(function(data){
				grid.hideLoading();
			});
			aul.send();
		}else{
			grid.option( "dataModel", { data: [] } );
			grid.refreshDataAndView();
		}
	}
	
	//============================================================	 
	//menu 아이템
	//============================================================
	var syu2_i_gridCM = [
		{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
            type: 'checkbox', cls: 'ui-state-default', sortable: false, editor: false,
            cb: { all: false, header: true }
     	},
     	{ title: "rowkey", dataType: "string", dataIndx: "rowkey", editable: false, hidden: true},
        { title: "[[#{sy.smnuit.compkey}]]", dataType: "string", dataIndx: "compkey", editable: false, hidden: true},
        { title: "[[#{sy.smnuit.menukey}]]", dataType: "string", dataIndx: "menukey", editable: false, hidden: true},
 		{ title: "[[#{sy.smnuit.menuiky}]]", dataType: "string", dataIndx: "menuiky", editable: false },
 		{ title: "[[#{sy.smnuit.menugbn}]]", dataType: "string", dataIndx: "menugbn",	//메뉴구분
 			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
 			editor: {
                type: "select",
                init: function (ui) { 
                	ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
                	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
                },
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
 		},
 		{ title: "[[#{sy.smnuit.progrid}]]", dataType: "string", dataIndx: "progrid",	//프로그램ID
 			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
 			validations : [{ type: 'minLen', value: 1, msg: "[[#{ms.validations.minLenLength(1)}]]" }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
 		},
 		{ title: "[[#{sy.smnuit.menulky}]]", dataType: "string", dataIndx: "menulky",	//메뉴명 라벨키
 			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
 			validations : [{ type: 'minLen', value: 0, warn: true }, { type: 'maxLen', value: 20, msg: "[[#{ms.validations.maxLenLength(20)}]]" }]
 		},
		{ title: "[[#{sy.smnuit.menulvl}]]", dataType: 'integer', dataIndx: "menulvl",	//메뉴LEVEL
 			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
 			validations : [{ type: 'gte', value: 0 }, { type: 'lte', value: 1000000000, msg: "[[#{ms.validations.maxLenLength(9)}]]" }]
		}, 
		{ title: "[[#{sy.smnuit.menunam}]]", dataType: "string", dataIndx: "menunam",	//메뉴명칭_참고용
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0, warn: true }, { type: 'maxLen', value: 30, msg: "[[#{ms.validations.maxLenLength(30)}]]" }]
		}, 
		{ title: "[[#{sy.smnuit.menuord}]]", dataType: "integer", dataIndx: "menuord",	//메뉴순서번호
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'gte', value: 0 }, { type: 'lte', value: 1000000000, msg: "[[#{ms.validations.maxLenLength(9)}]]" }]
		}, 
		{ title: "[[#{sy.smnuit.menuico}]]", dataType: "string", dataIndx: "menuico",	//메뉴아이콘
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			validations : [{ type: 'minLen', value: 0, warn: true }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(100)}]]" }]
		},
		{ title: "[[#{sy.smnuit.opentyp}]]", dataType: "string", dataIndx: "opentyp",
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
                type: "select",
                init: function (ui) { 
                	ui.$cell.find("select").pqSelect({ search:false,singlePlaceholder: '' });
                	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
                },
                options: []
            },
            render: function (ui) {
        		var option = ui.column.editor.options.find(function (obj) {
                    return (obj[ui.cellData] != null);
                });
            	return option ? option[ui.cellData] : "";
            }
 		},
		{ title: "[[#{sy.smnuit.credate}]]", width: 100, dataType: "string",  dataIndx: "credate", editable: false},
		{ title: "[[#{sy.smnuit.cretime}]]", width: 100, dataType: "string",  dataIndx: "cretime", editable: false},
		{ title: "[[#{sy.smnuit.creuser}]]", width: 100, dataType: "string",  dataIndx: "creuser", editable: false},
		{ title: "[[#{sy.smnuit.lmodate}]]", width: 100, dataType: "string",  dataIndx: "lmodate", editable: false},
		{ title: "[[#{sy.smnuit.lmotime}]]", width: 100, dataType: "string",  dataIndx: "lmotime", editable: false},
		{ title: "[[#{sy.smnuit.lmouser}]]", width: 100, dataType: "string",  dataIndx: "lmouser", editable: false}
 	];
	
	var syu2_i_grid = new GridUtil(syu2_i_gridCM, '[[${gprogrid}]]', 'syu2_i_grid');
	syu2_i_grid.setTitle("[[#{sy.syu2.itemTitle}]]");
	syu2_i_grid.setFind();
	syu2_i_grid.setReset();
	
	syu2_i_grid.setAdd(function(evt, ui){
		var headGrid = pq.grid("#syu2_h_grid")
		  , headCheck = headGrid.Checkbox('state').getCheckedNodes();
		if(headCheck.length > 0){
			if(!headCheck[0].menukey){
				alert((headCheck[0].pq_ri + 1) + " Row " + "[[#{ms.requiredValue}]]");	//필수입력 값을 입력해주세요.
				headGrid.editCell( { rowIndx: headCheck[0].pq_ri, dataIndx: "menukey" } );
			}else{
				var rowData = { state : true, compkey : "[[${session.compkey}]]" , menukey : headCheck[0].menukey };
				var rowIndx = this.addRow({ newRow : rowData , checkEditable : false});
				this.goToPage({ rowIndx : rowIndx });
				this.editCell({ rowIndx : rowIndx , dataIndx : "menugbn"});
			}
		}else{
			alert("[[#{ms.choiceHeadRowZero}]]");
		}
	});
	
	syu2_i_grid.setDelete(function(evt, ui){
		var itemGrid = this, checkList = itemGrid.Checkbox('state').getCheckedNodes(), deleteList = [];
		var headGrid = pq.grid("#syu2_h_grid");
		
		if(checkList.length > 0){
			setTimeout(function () {
				var ans = window.confirm("[[#{ms.choiceRowDelete}]]");	//선택된 행을 모두 삭제하시겠습니까?
                if (ans) {
                	for(i=0; i<checkList.length; i++){
                		if(!checkList[i].rowkey){
                			itemGrid.deleteRow({ rowIndx: checkList[i].pq_ri });
                		}else{
                			deleteList.push(checkList[i]);
                		}
                	}
                	if(deleteList.length > 0){
        				var data = { data : deleteList, shtrtky : $('#mdv2_shtrtky').val(), shtrtnm : $('#mdv2_shtrtnm').val() };
        				headGrid.showLoading();
        				itemGrid.showLoading();
                		var aul = new AjaxUtil_Order("/sy/deleteItemMenu.do", data, "DELETE");
            	    	aul.setCallbackSuccess(function (data){
            	    		headGrid.option( "dataModel", { data: data.list, recIndx: "rowkey" } );
            				headGrid.refreshDataAndView();
            				itemGrid.option( "dataModel", { data: [] } );
            				itemGrid.refreshDataAndView();
                        	alert("[[#{ms.deleteSuccess}]]");
            	    	});
            	    	aul.setComplete(function(data){
            	    		headGrid.hideLoading();
            	    		itemGrid.hideLoading();
            			});
            	    	aul.send();
        			}
                }
			});
		}else{
			alert("[[#{ms.choiceRowZero}]]");
    	}
	});
	
	syu2_i_grid.setCreate(function (evt, ui) {
		Combo("syu2_i_grid", "opentyp", {comcdky : "OPENTYP"});
    	Combo("syu2_i_grid", "menugbn", {comcdky : "MENUGBN"});
	});
	
	syu2_i_grid.setChange(function (evt, ui) {
    	if(ui.source === 'edit'){
    		for(i=0; i<ui.updateList.length; i++){
    			this.updateRow( {
           			rowIndx : ui.updateList[i].rowIndx,
           		    newRow : { state : true },
           		    checkEditable: false
           		});
    		}
    	}else if(ui.source === 'paste'){
    		if(ui.updateList.length > 0){
    			for(i=0; i<ui.updateList.length; i++){
        			this.updateRow( {
            			rowIndx : ui.updateList[i].rowIndx,
            		    newRow : {state : true},
            		    checkEditable: false
            		});
        		}
    		}
    		if(ui.addList.length > 0){
    			var headGrid = pq.grid("#syu2_h_grid"), headCheck = headGrid.Checkbox('state').getCheckedNodes();
    			for(i=0; i<ui.addList.length; i++){
        			ui.addList[i].newRow.state = true;
        			ui.addList[i].newRow.compkey = "[[${session.compkey}]]";
        			ui.addList[i].newRow.menukey = headCheck[0].menukey;
        		}
    		}
    	}
	});
	
	syu2_i_grid.open();
});

</script>
	 
</div>
</html>